<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KASKUS Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, height=device-height">
    <link href="../assets/stylesheets/main.css" rel="stylesheet" type='text/css'>
  </head>

<body class="vagRoundedStdLight">
  <nav class="pa3 fixed top-0 left-0 w-100 bg-white jsNav">
    <div class="relative tc db">
      <a class="link dim" href="index.html" title="Home">
        <img class="mw4" src="../assets/images/logo-kaskus-radio.svg" />
      </a>
      <a class="absolute top-0 left-0">
        <i class="fa fa-bars"></i>
      </a>
      <div class="absolute top-0 right-0">
        <a class="link mr2">
          <i class="fa fa-search"></i>
        </a>
        <a>
          <i class="fa fa-sign-in"></i>
        </a>
      </div>
    </div>
  </nav>
  
  <section class="mt5">
    <h2 class="f3 fw4 pa3 mv0 vagRoundedBold">Live Now <i class="red fa fa-broadcast-tower"></i></h2>
    <div class="cf pa2">
      <div class="fl w-100 pa2">
        <a class="link black" href="podcast-list.html">
          <div class="fl mr2">
            <img width="80" height="80" class="" src="../assets/images/image-kaskusnyobain.png">
          </div>
          <div class="f4 truncate vagRoundedBold">KASKUS Nyobain</div>
          <div class="f5 truncate vagRoundedBold">Episode 3: Nyobain Bubur Ayam Sumsum Sukabumi</div>
          <div class="f5 mt1">Mobil balap, makanan nggak enak, & semua yang lagi HITZ...</div>
          <!-- <div class="f6 truncate">
            <span><i class="fas fa-play"></i> 20,876</span>
          </div> -->
        </a>
      </div>
      <!-- <div class="fl w-100 pa2">
        <a class="link black" href="podcast-list.html">
          <div class="fl mr2">
            <img width="60" height="60" class="" src="../assets/images/image-shihabdanshihab.png">
          </div>
          <div class="f4 truncate vagRoundedBold">Shihab &amp; Shihab</div>
          <div class="f5 truncate">Episode 7: Seribu Jalan Menuju Tanah Suci</div>
          <div class="f6 truncate">
            <span><i class="fas fa-play"></i> 522</span>
          </div>
        </a>
      </div> -->
    </div>
    <h2 class="f3 fw4 pa3 mv0 vagRoundedBold">Featured Programs</h2>
    <div class="cf pa2">
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-ktkm.jpg" alt="Keluarga Tak Kasat Mata" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Keluarga Tak Kasat Mata</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by intansegara</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-kaskusnyobain.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">KASKUS Nyobain Podcast</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by kaskus.wave</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-livengaskus.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Live Ngaskus Podcast</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by kaskus.wave</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-kaskusterekam.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">KASKUS TEREKAM Podcast</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by kaskus.wave</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-shihabdanshihab.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Shihab &amp; Shihab</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by narasi.tv</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-sketsapuasa.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">KASKUS Sketsa Puasa</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by kaskus.wave</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-catatannajwa.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Catatan Najwa</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by narasi.tv</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-tompidanglenn.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Tompi &amp; Glenn</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by narasi.tv</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-2lusinmantan.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">2 Lusin Mantan</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by simone.void</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-50 w-25-m w-20-l pa2 c-album">
        <a href="podcast-list.html" class="c-album__link db link dim tc">
          <img src="../assets/images/image-readyjetsetgo.png" alt="2 Lusin Mantan" class="w-100 db outline black-10"/>
          <dl class="mt2 f6 lh-copy">
            <dt class="clip">Title</dt>
            <dd class="ml0 black truncate w-100">Ready, Jet Set, Go!</dd>
            <dt class="clip">Artist</dt>
            <dd class="ml0 gray truncate w-100">by anaktraveler</dd>
          </dl>
        </a>
      </div>
      <div class="fl w-100 pa2">
        <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-blue w-100 tc" href="#0">Lihat Semua Program</a>
      </div>
    </div>
  </section>
  <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
    <small class="f6 db tc">© 2018 <b class="ttu">KASKUSNetworks</b>., All Rights Reserved</small>
    <div class="tc mt3">
      <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
      <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
    </div>
  </footer>
  <script src="../assets/js/vendor.min.js" ></script>
  <script src="../assets/js/main.min.js" ></script>
  
</body>x
</html>
