<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KASKUS Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, height=device-height">
    <link href="../assets/stylesheets/main.css" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KVV84M8');</script>
    <!-- End Google Tag Manager -->
  </head>

<body class="vagRoundedStdLight">
	<nav class="pa3 fixed top-0 left-0 w-100 bg-white jsNav">
	  <div class="relative tc db">
	    <a class="link dim jsLink o-title" href="index.html" title="Home">
	      Buat Episode
	    </a>
	  </div>
	</nav>
	<section>
		<div class="maw-640">
			<div class="db ma3 pt1">
				<div class="w-100">
					<div class="c-inputgroup relative">
						<label for="programurl" class="c-inputgroup__label"><span>Podcast Track</span></label>
						<div class="dib c-inputgroup__addtrack">
							<div class="c-inputgroup__input">
								<p>Podcast Porno.mp3</p>
							</div>
							<div class="c-progress--upload">
								<div class="c-progress--upload__wrap">
									<div class="c-progress--upload__bar" style="width: 50%"></div>
									<div class="c-progress--upload__text">Uploading: Podcast Porno.mp3</div>
								</div>
							</div>
						</div>
						<div class="dib c-preview--track">
							<input type="file" class="jsInputTrack" name="browse">
							<div class="c-preview--track__icon">
								<i class="fa fa-music" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
				<div class="w-100">
					<div class="c-inputgroup relative">
						<div class="c-inputgroup__char jsType" data-char="50"><span class="jsChar">0</span>/50</div>
						<input id="programname" type="text" class="jsInput" required="">
						<label for="programname"><span>Nama Episode</span></label>
					</div>
				</div>
				<div class="w-100">
					<div class="c-inputgroup relative">
						<div class="c-inputgroup__char bt15 jsType" data-char="160"><span class="jsChar">0</span>/160</div>
						<textarea id="programdesc" rows="4" class="jsInput" required=""></textarea> 
						<label for="programdesc"><span>Deskripsi Program</span></label>
					</div>
				</div>
				<div class="w-100">
					<div class="c-inputgroup">
						<label for="programcat" class="c-inputgroup__label"><span>Program</span></label>
						<select class="jsSelectDropdown" id="programcat" name="state">
						  <option value="">Pilih Program</option>
						  <option value="AL">Alabama</option>
						  <option value="WY">Wyoming</option>
						  <option value="AL">Alabama</option>
						  <option value="WY">Wyoming</option>
						  <option value="AL">Alabama</option>
						  <option value="WY">Wyoming</option>
						  <option value="AL">Alabama</option>
						  <option value="WY">Wyoming</option>
						</select>
					</div>
				</div>
				<div class="w-100">
					<div class="c-inputgroup">
						<label for="programthread" class="c-inputgroup__label"><span>Pilih Thread</span></label>
						<div class="c-inputgroup__input relative" onclick="openThreadDrop();">
							<p class="jsChoosenThread">Thread</p>
							<i class="fa fa-chevron-right" aria-hidden="true"></i>
						</div>
					</div>
				</div>
				<div class="w-100 mt3 db tc">
					<button class="o-btn o-btn--blue" type="submit">Submit</button>
				</div>
			</div>
		</div>
	</section>

	<div class="c-threadlist jsThreadList">
		<div class="o-dialog">
			<div class="o-dialog__header">
				<div class="o-dialog__btn" onclick="closeThreadDrop();">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
				</div>
				<div class="o-dialog__title">Pilih Thread</div>
			</div>
			<div class="maw-640">
				<div class="o-search mw7">
					<div class="o-search__wrap">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search">
					</div>
				</div>
				<div class="c-threadlist__wrap">
					<div class="c-threadlist__item">
						<a href="" class="c-threadlist__link">Buat Thread</a>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr1" value="other"  >
	      				<label for="tr1"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr2" value="other"  >
	      				<label for="tr2"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr3" value="other"  >
	      				<label for="tr3"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr4" value="other"  >
	      				<label for="tr4"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr5" value="other"  >
	      				<label for="tr5"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr6" value="other"  >
	      				<label for="tr6"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr7" value="other"  >
	      				<label for="tr7"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr8" value="other"  >
	      				<label for="tr8"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr9" value="other"  >
	      				<label for="tr9"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr10" value="other"  >
	      				<label for="tr10"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr11" value="other"  >
	      				<label for="tr11"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr12" value="other"  >
	      				<label for="tr12"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr13" value="other"  >
	      				<label for="tr13"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr14" value="other"  >
	      				<label for="tr14"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr15" value="other"  >
	      				<label for="tr15"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
				</div>
		    </div>
		</div>
	</div>
	<div class="c-popup--thread jsReEmbedThread">
		<div class="c-popup--thread__overlay" onclick="closeReEmbedDialog();"></div>
		<div class="c-popup--thread__wrap">
			<a href="#" class="c-popup--thread__close" onclick="closeReEmbedDialog();"><i class="fa fa-times" aria-hidden="true"></i></a>
			<div class="c-popup--thread__image">
				<img src="../assets/images/Graphic.svg">
			</div>
			<div class="c-popup--thread__desc pv4">
				Thread ini sudah di-embed dengan episode
				<span>Cerita Porno Mayu.</span>
				Apakah Anda ingin  menggantikan episode tersebut dengan episode ini?
			</div>
			<div class="db tc">
				<button class="o-btn o-btn--blue mb2">GANTIKAN</button>
				<a href="#" class="o-btn o-btn--greytext db pv2" onclick="closeReEmbedDialog();">BATAL</a>
			</div>
		</div>
	</div>
	
	<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
		  <small class="f6 db tc">© 2018 <b class="ttu">KASKUSNetworks</b>., All Rights Reserved</small>
		  <div class="tc mt3">
		    <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
		    <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
		  </div>
		</footer>
		<script src="../assets/js/vendor.min.js" ></script>
		<script src="../assets/js/main.min.js" ></script>
		
	
	<!--cuma contoh kalo mau manggil pop up re rembed thread-->
	<script type="text/javascript">
		$(".c-inputgroup__input").on('click',function() {
			if($('.jsThreadList').hasClass('is-open')){
				openReEmbedDialog();
			}
		});
	</script>
</body>
</html>