<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KASKUS Radio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, height=device-height">
    <link href="../assets/stylesheets/main.css" rel="stylesheet" type='text/css'> 
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KVV84M8');</script>
    <!-- End Google Tag Manager -->
  </head>

<body class="vagRoundedStdLight">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KVV84M8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <nav class="pa3 fixed top-0 left-0 w-100 bg-white jsNav">
    <div class="relative tc db">
      <a class="link dim" href="index.html" title="Home">
        <img class="mw4" src="../assets/images/logo-kaskus-radio.svg" />
      </a>
      <a class="absolute top-0 left-0">
        <i class="fa fa-bars"></i>
      </a>
      <div class="absolute top-0 right-0">
        <a class="link mr2">
          <i class="fa fa-search"></i>
        </a>
        <a>
          <i class="fa fa-sign-in"></i>
        </a>
      </div>
    </div>
  </nav>
  
  <section>
    <div class="db center w100 tc black relative c-hero">
      <div class="w100 c-hero__cover">
        <div class="aspect-ratio--object cover c-hero__cover__image" style="background:url(../assets/images/image-cover-kaskusnyobain.png) center;"></div>
      </div>
      <button class="f-headline white absolute c-hero__button jsPlayButton">
        <i class="far fa-play-circle"></i>
      </button>
      <div class="c-progress white absolute is-hide jsProgress">
        <div class="c-progress__content w-100 h-100 ph4">
          <div class="c-progress__time__wrapper">
            <span class="f6 c-progress__time c-progress__time--current jsProgressTime">0:00</span>
            <span class="f6 c-progress__time c-progress__time--duration">6:20</span>
          </div>
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <div class="c-progress__button__wrapper">
            <button class="absolute c-progress__button c-progress__button--skipprevious jsSkipPreviousButton"></button>
            <button class="absolute c-progress__button c-progress__button--skipforward jsSkipForwardButton"></button>
          </div>
        </div>
      </div>
      <div class="db pa2 c-hero__detail w-100">
        <img class="mw3" alt="Mata Najwa" src="../assets/images/image-kaskusnyobain.png" >
        <dl class="mv1 lh-copy">
          <dt class="clip">Title</dt>
          <dd class="ml0 f4 white">KASKUS Nyobain</dd>
          <dt class="clip">Episode</dt>
          <dd class="ml0 vagRoundedBold f3 white">Episode 12: Anti Matgay di MARKAS Meski Tanpa Cash</dd>
        </dl>
        <div class="cf pa2 white">
          <div class="fl w-50">
            <div class="tc">
              <span><i class="far fa-calendar-alt"></i> 18 May 2018</span>
            </div>
          </div>
          <div class="fl w-50">
            <div class="tc">
              <span><i class="far fa-clock"></i> 6 menit</span>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="ml0 black pa3">Mangga Alpukat lagi banyak diomongin netizen nih. Emang apa spesialnya? Yang udah pernah coba absen di bawah! <br><br>Siapa yang belum move on dari MARKAS 2018? Kemarin Irind lupa bawa dompet, tapi tetap bisa seru-seruan loh soalnya udah install Sakuku di smatrphone-nya. Agan ada yang main ke MARKAS juga kemaren? Share pengalaman kalian di sini. <br><br>Mobil balap, makanan nggak enak, & semua yang lagi HITZ akan dicobain sama Sist Irind di KASKUS Nyobain! Episode baru muncul setiap Jumat!</div>
    <div class="pa3">
      <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-blue w-100 tc" href="#0">Lihat Semua Komentar</a>
      <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white bg-orange w-100 tc" href="#0">Share Wave</a>
    </div>
  </section>
  <div class="c-player shadow-3 fixed w-100 bottom-0 bg-white is-hide jsPlayer">
    <div class="c-player__control">
      <div class="c-player__content pa2">
        <div class="pr5 relative">
          <a class="link black cf db jsPopupShowButton">
            <div class="fl mr2 mt2">
              <button class="f4 black">
                <i class="far fa-chevron-up"></i>
              </button>
            </div>
            <div class="f5 mt1 truncate vagRoundedBold">KASKUS Nyobain</div>
            <div class="f6 truncate jsPlayerTitle">Episode 3: Nyobain Bubur Ayam Sumsum Sukabumi</div>
          </a>
          <button class="black absolute c-player__button jsPlayButton top-0 right-0">
            <i class="far fa-play-circle"></i>
          </button>
        </div>
      </div>
      <div class="c-player__indicator">
        <div class="c-player__indicator__bar jsPlayerIndicator"></div>
      </div>
    </div>
  </div>
  
  <footer class="pv4 ph3 ph5-m ph6-l mid-gray">
      <small class="f6 db tc">© 2018 <b class="ttu">KASKUSNetworks</b>., All Rights Reserved</small>
      <div class="tc mt3">
        <a href="#" title="Terms" class="f6 dib ph2 link mid-gray dim">Terms of Use</a>
        <a href="#" title="Privacy" class="f6 dib ph2 link mid-gray dim">Privacy</a>
      </div>
    </footer>
    <script src="../assets/js/vendor.min.js" ></script>
    <script src="../assets/js/main.min.js" ></script>
    
</body>
</html>
