<div class="modal jsModal" id="jsModalOnboarding">
  <div class="modal-dialog jsModalDialog Ov(h)">
    <div class="modal-content jsModalContent">
      <div class="modal-section W(800px) H(400px) Ov(h)">
        <div class="modal-body">
          <div class="jsOnboardingCanvas">
            <div class="jsOnboardingPage">
              <img src="logo-kaskus.svg" />
              <div>Intip Wajah Baru KASKUS</div>
              <button>Wah! Meluncur!</button>
            </div>
            <div class="jsOnboardingPage">
              <div class="jsOnboardingPageLeft"></div>
              <div class="jsOnboardingPageRight">
                <div>Baca Sesuai Interesmu Gan</div>
                <div>Temukan banyak thread seru sesuai minat Agan. Sekarang KASKUS menyediakan 11 Channel yang bisa Agan pilih. Mulai dari Story, Hobby, Games, Entertainment, News, Tech, Automotive, Sports, Food & Travel, Female, sampai Video.</div>

                <div>Ayo kunjungi dan nikmati Channel favoritmu!</div>
              </div>
            </div>
            <div class="jsOnboardingPage">
              <div class="jsOnboardingPageLeft"></div>
              <div class="jsOnboardingPageRight">
                <div>Mampir ke Trit-trit Aktif</div>
                <div>Buka homepage langsung liat thread-thread terhangat? Bisa! Dimari Agan bisa menikmati thread-thread dengan komentar-komentar seru dari Kaskuser lain. Bisa ikutan ngebahas topiknya, komentar balik ke komeng lainnya, atau menyampaikan aspirasi.</div>
                <div>Yuk suarakan pendapatmu!</div>
              </div>
            </div>
            <div class="jsOnboardingPage">
              <div class="jsOnboardingPageLeft"></div>
              <div class="jsOnboardingPageRight">
                <div>Hot Threads Makin WOW</div>
                <div>Keep update dengan thread terbaik pilihan KASKUS. Scroll terus untuk baca selanjutnya!</div>
                <div>Ketemu thread menarik, pengan subscribe atau share? Gampang!</div>
                <div>Makin eksis di Hot Threads, nama TS hadir di bagian depan, lengkap dengan reputasi dan jumlah views terupdate. Mau ikutan eksis?</div>
              </div>
            </div>
            <div class="jsOnboardingPage">
              <div class="jsOnboardingPageLeft"></div>
              <div class="jsOnboardingPageRight">
                <div>Hot Threads Makin WOW</div>
                <div>Keep update dengan thread terbaik pilihan KASKUS. Scroll terus untuk baca selanjutnya!</div>
                <div>Ketemu thread menarik, pengan subscribe atau share? Gampang!</div>
                <div>Makin eksis di Hot Threads, nama TS hadir di bagian depan, lengkap dengan reputasi dan jumlah views terupdate. Mau ikutan eksis?</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
