<div class="modal jsModal" id="jsModalWhoPosted">
  <div class="modal-dialog jsModalDialog Ov(h)">
    <div class="modal-content jsModalContent">
      <div class="modal-section W(400px) Bdrs(5px) Bgc(#ffffff)">
        <div class="modal-header Pos(r)">
          <button class="Pos(a) End(5px) T(10px) jsModalCloseButton Z(1)">
            <i class="fas fa-times C(#6e6e6e) Fz(20px)"></i>
          </button>
        </div>
        <div class="modal-body Bdrs(5px) P(20px)">
          <div class="Fz(18px) Fw(700) Mb(20px)">Who Posted</div>
          <div class="Mb(35px) Maw(260px) Mx(a) Fz(14px)">
            <table>
              <thead>
                <tr>
                  <td class="Fw(700)">Username</td>
                  <td class="Fw(700)">Post (8)</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="">kpoplucknumber9</a></td>
                  <td><a href="">9</a></td>
                </tr>
                <tr>
                  <td><a href="">kpoplucknumber10</a></td>
                  <td><a href="">9</a></td>
                </tr>
                <tr>
                  <td><a href="">kpoplucknumber11</a></td>
                  <td><a href="">9</a></td>
                </tr>
                <tr>
                  <td><a href="">kpoplucknumber12</a></td>
                  <td><a href="">9</a></td>
                </tr>
                <tr>
                  <td><a href="">kpoplucknumber13</a></td>
                  <td><a href="">9</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button class="W(125px) Py(8px) Bgc(#1998ed) Bdrs(5px) C(#ffffff)">Show Thread</button>
        </div>
      </div>
    </div>
  </div>
</div>
