<div class="modal modal-bg-darker jsModal" id="jsModalCreate">
  <div class="modal-dialog jsModalDialog P(40px)">
    <div class="modal-content jsModalContent">
      <div class="modal-section W(950px) Bgc(#e4f8f6)">
        <div class="modal-body Pos(r) Jc(sb) D(f)">
          <div>
            <a href="">
              <div>
                <div></div>
                <img src="../assets/images/icon-ct-teks.svg">
              </div>
              <div>
                <div>Tulis Thread</div>
                <div>Tulis dan bagikan cerita seru versi Agan yuk!</div>
              </div>
            </a>
          </div>
          <div>
            <a href="">
              <div>
                <div></div>
                <img src="../assets/images/icon-ct-gambar.svg">
              </div>
              <div>
                <div>Upload Gambar</div>
                <div>Satu gambar berbagi sejuta cerita, upload sekarang!</div>
              </div>
            </a>
          </div>
          <div>
            <a href="">
              <div>
                <div></div>
                <img src="../assets/images/icon-ct-video.svg">
              </div>
              <div>
                <div>Upload Video</div>
                <div>Promosikan lapak Agan dimari, makin laris manis!</div>
              </div>
            </a>
          </div>
          <div>
            <a href="">
              <div>
                <div></div>
                <img src="../assets/images/icon-ct-lapak.svg">
              </div>
              <div>
                <div>Mulai Berjualan</div>
                <div>Promosikan lapak Agan dimari, makin laris manis!</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
