<div class="modal modal-bg-darker" id="jsModalEmail">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-section W(400px)">
        <div class="modal-header H(120px) Bgc(#e4f8f6) Bdrs(5px)">
        </div>
        <div class="modal-body">
          <div>Terima Kasih</div>
          <div>Agan Sista akan mendapatkan update seru! Jangan lupa cek email yaa</div>
          <button>Ok</button>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</div>
