@font-face {
    // font-display: swap;
    font-family: 'Gotham-Bold';
    src: url('../fonts/gothamBold.ttf');
}
@font-face {
    // font-display: swap;
    font-family: 'Gotham-Book';
    src: url('../fonts/gothamBook.ttf');
}
@font-face {
    // font-display: swap;
    font-family: 'Gotham-Black';
    src: url('../fonts/gothamBlack.ttf');
}
@font-face {
    // font-display: swap;
    font-family: 'Gotham-Light';
    src: url('../fonts/gothamLight.ttf');
}
@font-face {
    // font-display: swap;
    font-family: 'Gotham-Medium';
    src: url('../fonts/gothamMedium.ttf');
}
@font-face {
    // font-display: swap;
    font-family: 'Bafora-Regular';
    src: url('../fonts/baforaRegular.otf');
}
@font-face {
    // font-display: swap;
    font-family: 'Lulo-Clean-One-Bold';
    src: url('../fonts/luloCleanOneBold.otf');
}
