$primary-blue: #1998ed;
$primary-blue-hover: #6999b9;
$primary-gray: #b3b3b3;
$primary-black: #484848;
$primary-white: #ffffff;
$primary-red: #d0021b;

$secondary-blue:rgba(25, 152, 237, 0.1);
$secondary-black: #bbb;
$primary-font: 'Roboto', sans-serif;

$break-xsmall: 320px;
$break-small: 500px;
$break-medium: 768px;
$break-large: 900px;
$break-xlarge: 1200px;
$break-xxlarge: 2000px;