body{
	font-family: 'Roboto', sans-serif;
}

@keyframes muterCoy{
	0%{
		transform: scale3d(1, 1, 1) rotate(0deg) translate(0px) rotate(0deg)
	}
	50%{
		transform: scale3d(1.05, 1.05, 1) rotate(180deg) translate(10px) rotate(-180deg);
	}
	100{
		transform: scale3d(1, 1, 1) rotate(0deg) translate(0px) rotate(-360deg)
	}
}

@keyframes balonArtis1{
	0%{
		transform: scale(0.4);
		opacity: 0.8;		
		right: 80px;
    	bottom: 10px;
	}
	20%{
		transform: scale(1) translate(-15px, -50px) rotate3d(0, 0, 1, 15deg);
		opacity: 1;
		right: 131px;
		bottom: 140px;
	}
	40%{
		transform: translate(-15px, -125px) rotate3d(0, 0, 1, -10deg)
	}
	60%{
		transform: translate(-15px, -200px) rotate3d(0, 0, 1, 5deg);
		opacity: 1;
	}
	80%{
		transform: translate(-15px, -275px) rotate3d(0, 0, 1, -5deg)
	}
	100%{
		transform: translate(-5px, -375px) rotate3d(0, 0, 1, 0deg);
		opacity: 0.4;		
	}
}

@keyframes balonArtis2{
	0%{
		transform: scale(0.4);
		opacity: 0.8;		
		right: 40px;
    	bottom: 10px;
	}
	20%{
		transform: scale(1) translate(-15px, -50px) rotate3d(0, 0, 1, -15deg);
		opacity: 1;
		right: 19px;
		bottom: 198px;
	}
	40%{
		transform: translate(-15px, -125px) rotate3d(0, 0, 1, 10deg)
	}
	60%{
		transform: translate(-15px, -200px) rotate3d(0, 0, 1, -5deg);
		opacity: 1;
	}
	80%{
		transform: translate(-15px, -275px) rotate3d(0, 0, 1, 5deg)
	}
	100%{
		transform: translate(-5px, -375px) rotate3d(0, 0, 1, 0deg);
		opacity: 0.4;		
	}
}

.btn{
	position: absolute;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	padding: 0;
	opacity: 0.95;
	transition: all 0.2s ease-in-out;
	&:focus, &:active, &:visited{
		outline: none;
	}
	&:hover{
		cursor: pointer;
		opacity: 1;
		transform: scale(1.025);
	}
}

.btn-embosed{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	letter-spacing: 1.5px;
	width: 126px;
	height: 47px;
	font-size: 13px;
	background-image: url(../images/bg-button-embossed.png);
	color: white;
	left: 400px;
	bottom: 20px;
}

.btn-blue{
	width: 118px;
	height: 41px;
	bottom: 85px;
    left: 400px;
	background-image: url(../images/img-btn-beli-blue.png);
}

.btn-orange{
	width: 118px;
	height: 41px;
	bottom: 65px;
    left: 400px;
    background-image: url(../images/img-btn-beli-orange.png);
}

.c-container{
	margin: auto;
	height: 500px;
	width: 950px;
	position: relative;
	overflow: hidden;
}

.c-cendol{
	&__container{
		width: 281px;
		height: 115px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url(../images/img-cendol-board.png);
		float: right;
    	margin-right: 65px;
	}
	&__list{
		margin-top: 40px;
    	margin-left: 55px;
	    list-style: none;
	    padding: 0;
	}
	&__item{
		display: inline-block;
		width: 47px;
		height: 51px;
		margin-right: 20px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		&--empty{
			background-image: url(../images/object-cendol-empty.png);
		}
		&--filled{
			background-image: url(../images/object-cendol-filled.png);
		}
	}
}

.c-section{
	height: 500px;
	width: 950px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: -3000px;
	-webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
    &.is-current{
    	top: 0;
    }
    &--main-screen{
    	background-image: url('../images/bg-screen-first.jpg');
    }
	&--game{
		background-image: url('../images/bg-screen-game.jpg');
		cursor: url('../images/ic-cursor.png') 108 90, auto;
	}
	&--lose-screen{
    	background-image: url('../images/bg-screen-lose.jpg');
    }
    &--win-screen{
    	background-image: url('../images/bg-screen-win.jpg');
    }
}

h1, h2 {
 text-align: center;
}

.o-object{
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	position: absolute;
	&--board-instruction{
		background-image: url(../images/img-instruction-board.png);
		width: 595px;
	    height: 298px;
	    left: 175px;
	    top: 130px;
	}
	&--succeed-board{
		background-image: url(../images/img-success-board.png);
		width: 456px;
	    height: 342px;
	    left: 240px;
	    top: 130px;
	}
	&--succeed-sign{
		background-image: url(../images/img-success-sign.png);
		width: 285px;
	    height: 126px;
	    left: 320px;
    	top: -2px;
	}
	&--failed-board{
		background-image: url(../images/img-failed-board.png);
		width: 457px;
	    height: 318px;
	    left: 233px;
    	bottom: 45px;
	}
	&--failed-sign{
		background-image: url(../images/img-failed-sign.png);
		width: 285px;
	    height: 126px;
	    left: 320px;
    	top: -2px;
	}
	&--logo-game{
		background-image: url(../images/logo-markas-maze.png);
		width: 198px;
	    height: 104px;
	    left: 375px;
	    top: 10px;
	}
	&--panggung{
		background-image: url(../images/object-panggung.png);
		width: 180px;
		height: 151px;
		bottom: -31px;
    	right: 2px;
    	z-index: 30;
	}
	&--artis-ball-1{
		width: 95px;
		height: 95px;
		background-size: 80%;
		border-radius: 50%;
		background-color: #ffffff;
		box-sizing: border-box;
		right: 131px;
		bottom: 140px;
		animation: balonArtis1 10s linear infinite;
	}
	&--artis-ball-2{
		width: 118px;
		height: 118px;
		background-size: 80%;
		border-radius: 50%;
		background-color: #ffffff;
		box-sizing: border-box;
		right: 19px;
		bottom: 198px;
		animation: balonArtis2 10s linear infinite;
	}
	&--time-ball{
		bottom: 95px;
    	left: 152px;
		width: 72px;
		height: 72px;
		border-radius: 50%;
		background-color: #F27723;
		color: #ffffff;
		box-sizing: border-box;
		padding-top: 22px;
		font-size: 14px;
		text-align: center;
		font-weight: 700;
		letter-spacing: 1px;
		animation: muterCoy 15s linear infinite;
		small{
			font-weight: 300;
			font-style: normal;
			font-size: 14px;
			letter-spacing: 1px;
		}
	}
}


#start{
	position: absolute;
	top: 110px;
	left: 205px;
    height: 39px;
	width: 67px;
	z-index: 30;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../images/ic-start-on.png);
	&.is-off{
		background-image: url(../images/ic-start-off.gif);	
	}
	
}

#end{
	position: absolute;
	right: 520px;
    top: 410px;
    height: 50px;
    width: 50px;
}

div.youlose {
 background-color: #ff8888;
}

/*
Hack hack hack; these are CSS "sibling selectors" for selecting
neighboring elements.  Necessary to avoid giving ids to the boundary divs
*/

div.path {
	position: absolute;
	background-color: #FEFBE6;
	-webkit-box-shadow: 0px 3.5px 0px 0px rgba(211,203,173,1);
	-moz-box-shadow: 0px 3.5px 0px 0px rgba(211,203,173,1);
	box-shadow: 0px 3.5px 0px 0px rgba(211,203,173,1);
	&.is-disabled{
		background-color: #EAC04C;
		-webkit-box-shadow: 0px 3.5px 0px 0px rgba(213,170,61,1);
		-moz-box-shadow: 0px 3.5px 0px 0px rgba(213,170,61,1);
		box-shadow: 0px 3.5px 0px 0px rgba(213,170,61,1);
	}
	&:first-child{
		z-index: 1;
		top: 115px;
	    left: 220px;
		height: 30px;
		width: 305px;	
	}
	&:nth-child(2){
		z-index: 2;
	    top: 145px;
	    left: 490px;
	    height: 30px;
	    width: 80px;
	}
	&:nth-child(3){
		z-index: 3;
	    top: 175px;
	    left: 545px;
	    height: 45px;
	    width: 25px;
	}
	&:nth-child(4){
		z-index: 4;
	    top: 200px;
	    left: 545px;
	    height: 20px;
	    width: 195px;
	}
	&:nth-child(5){
		z-index: 5;
	    top: 165px;
	    left: 715px;
	    height: 55px;
	    width: 25px;
	}
	&:nth-child(6){
		z-index: 6;
	    top: 165px;
	    left: 740px;
	    height: 25px;
	    width: 85px;
	}
	&:nth-child(7){
		z-index: 7;
	    top: 165px;
	    left: 800px;
	    height: 115px;
	    width: 25px;
	}
	&:nth-child(8){
		z-index: 8;
	    top: 255px;
	    left: 340px;
	    height: 25px;
	    width: 460px;
	}
	&:nth-child(9){
		z-index: 9;
	    top: 220px;
	    left: 340px;
	    height: 60px;
	    width: 25px;
	}
	&:nth-child(10){
		z-index: 10;
	    top: 220px;
	    left: 170px;
	    height: 30px;
	    width: 170px;
	}
	&:nth-child(11){
		z-index: 11;
	    top: 220px;
	    left: 170px;
	    height: 185px;
	    width: 35px;
	}
	&:nth-child(12){
		z-index: 12;
	    top: 375px;
	    left: 170px;
	    height: 30px;
	    width: 100px;
	}
	&:nth-child(13){
	    z-index: 13;
	    top: 320px;
	    left: 240px;
	    height: 85px;
	    width: 30px;
	}
	&:nth-child(14){
		z-index: 14;
	    top: 320px;
	    left: 270px;
	    height: 30px;
	    width: 490px;
	}
	&:nth-child(15){
		z-index: 15;
	    top: 320px;
	    left: 730px;
	    height: 135px;
	    width: 30px;
	}
	&:nth-child(16){
		z-index: 16;
	    top: 440px;
	    left: 680px;
	    height: 15px;
	    width: 50px
	}
	&:nth-child(17){
		z-index: 17;
	    top: 405px;
	    left: 665px;
	    height: 50px;
	    width: 15px;
	}
	&:nth-child(18){
		z-index: 18;
	    top: 405px;
	    left: 610px;
	    height: 15px;
	    width: 55px;
	}
	&:nth-child(19){
		z-index: 19;
	    top: 385px;
	    left: 595px;
	    height: 35px;
	    width: 15px;
	}
	&:nth-child(20){
		z-index: 20;
	    top: 385px;
	    left: 535px;
	    height: 15px;
	    width: 60px;
	}
	&:nth-child(21){
		z-index: 21;
	    top: 385px;
	    left: 535px;
	    height: 57px;
	    width: 12px;
	}
	&:nth-child(22){
		z-index: 22;
	    top: 432px;
	    left: 428px;
	    height: 10px;
	    width: 108px;
	}
	&:nth-child(23){
		z-index: 23;
	    top: 280px;
	    left: 498px;
	    height: 70px;
	    width: 8px;
	}
	&:nth-child(24){
		z-index: 24;
	   	// top: 105px;
	    // left: 200px;
	    // height: 45px;
	    // width: 72px;
	    top: 110px;
		left: 205px;
	    height: 39px;
		width: 67px;
	    background-color: transparent;
	    box-shadow: none;
	}
}