<div id="ad-container">
    <div id="ad-overlay"></div>
    <div id="ad-invitation">
        <div class="invitation__container--small">
            <div class="invitation__ad--small">
                <img src="../assets/images/ads.jpg"/>
            </div>
            <button aria-label="Remove" class="invitation__close invitation__close--small">&times;</button>
        </div>
        <div class="invitation__container--large">
            <div class="invitation__ad--large instruction">
                <div class="invitation__ad--video">
                        <div class="invitation__ad--link">
                            <div class="invitation__ad--video--wrapper">
                                <img src="../assets/images/bg-video.jpg"/>
                                <div id="ad-video">
                                    <iframe src="https://www.youtube.com/embed/WHdYxRHkMfI?enablejsapi=1&version=3&playerapiid=ytplayer" width="300" height="198" allowscriptaccess="always" frameborder="0" allowfullscreen ></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <button aria-label="Shrink" class="invitation__close invitation__close--large">&times;</button>
        </div>
    </div>
</div>
<style>
    body{
        margin: 0;
        overflow: hidden;
    }
    #ad-overlay{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.8);
        z-index: 9999;
        display: none;
    }
    #ad-dialog{
        width: 300px;
        position: fixed;
        margin: auto;
        top: 30%;
        left: 0;
        right: 0;
        padding: 50px 10px 20px 10px;
        border-radius: 10px;
        box-sizing: border-box;
        background: #e0e0e0;
        z-index: 10000;
        display: none;
    }
    #ad-dialog p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        padding-bottom: 20px;
    }
    #ad-dialog .dialog__actions{
        display: table;
        width: 100%;
        vertical-align: middle;
        text-align: center;
    }
    #ad-dialog button{
        display: table-cell;
        width: 120px;
        height: 50px;
        font-weight: bold;
        font-size: 20px;
        margin: 0 5px;
    }
    .invitation__container--small{
        height: 50px;
        position: relative;
        overflow: hidden;
    }
    .invitation__container--large{
        height: 100vh;
        position: relative;
        overflow: hidden;
        background-color: rgba(0,0,0,0.8);
    }
    .invitation__ad--small{
        height: 100%;
        max-width: 320px;
        overflow: hidden;
        margin: auto;
    }
    .invitation__ad--large{
        height: 100%;
        position: relative;
    }
    .invitation__ad--large img{
        max-width: 100%;
    }
    .invitation__ad--video{
        position: relative;
        height: 100%
    }
    .invitation__ad--link{
        position: relative;
        max-width: 320px;
        margin:0 auto;
        display: table;
        height: 100vh;
    }

    .invitation__ad--video--wrapper{
        display: table-cell;
        vertical-align: middle;
        margin:0 auto;
        position: relative;
    }
    #ad-video{
            position: absolute;
            max-width: 300px;
            top: 50%;
            transform: translate(0%, -50%);
            left: 0%;
            right: 0;
            margin: 0 auto;
    }

    #ad-video iframe{
        box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    }

    #ad-video video{
        box-shadow: 0 8px 10px rgba(0,0,0,0.5);
        width: 100%;
    }

    .invitation__close{
        -webkit-appearance: none;
        text-align: center;
        background-color: black;
        color: white;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    .invitation__close--small{
        width: 20px;
        height: 20px;
    }
    .invitation__close--large{
        font-size: 30px;
        width: 40px;
        height: 40px;
        font-weight: bold;
        border-radius: 0 0 0 40px;
        padding: 0 0 10px 10px;
    }
</style>
<script>
    window.onload = function(e){
        var xDown = null;
        var yDown = null;

        var iframe = document.getElementById('ad-video');
        var youtubeFunc ='';
        var youtubeIframe = iframe.getElementsByTagName("iframe")[0].contentWindow;
        registerEventHandlers();
        function registerEventHandlers() {
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('touchstart', handleTouchStart, false);
            document.getElementsByClassName('invitation__ad--link')[0].addEventListener('click', goTo);
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('touchmove', handleTouchMove, false);
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('click', stretchBanner, false);

            document.querySelectorAll('.invitation__close').forEach(function(el) {
                switch (el.getAttribute('aria-label').toLowerCase()) {
                    case 'shrink':
                        el.addEventListener('click', shrinkBanner, false);
                        break;
                    case 'remove':
                        el.addEventListener('click', removeBanner, false);
                        break;
                    default:
                        break;
                }
            });

            showInstructionAd();
        }

        var stopVideo = function ( element ) {

                youtubeFunc = 'stopVideo';
                youtubeIframe.postMessage('{"event":"command","func":"' + youtubeFunc + '","args":""}', '*');
        };

        var startVideo = function ( element ) {
            youtubeFunc = 'playVideo';
            youtubeIframe.postMessage('{"event":"command","func":"' + youtubeFunc + '","args":""}', '*');


        };

        function unregisterEventHandlers() {
            document.getElementsByClassName('invitation__ad--link')[0].addEventListener('click', goTo);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('touchstart', handleTouchStart);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('touchmove', handleTouchMove);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('click', stretchBanner);
            document.querySelectorAll('.invitation__close').forEach(function(el) {
                switch (el.getAttribute('aria-label').toLowerCase()) {
                    case 'shrink':
                        el.removeEventListener('click', shrinkBanner);
                        break;
                    case 'remove':
                        el.removeEventListener('click', removeBanner);
                        break;
                    default:
                        break;
                }
            });
        }

        function shrinkBanner() {
            document.getElementsByClassName('invitation__container--small')[0].style.display = 'block';
            window.parent.postMessage({message: 'shrink-banner'}, '*');
            showInstructionAd();
            stopVideo();
        };

        function stretchBanner() {
            document.getElementsByClassName('invitation__container--small')[0].style.display = 'none';
            window.parent.postMessage({message: 'stretch-banner'}, '*');
            startVideo();
        }

        function goTo(){
            window.parent.postMessage({message: 'open-url', url: 'http://bkdelivery.id'}, '*');
        }

        function removeBanner() {
            unregisterEventHandlers();
            window.parent.postMessage({message: 'remove-banner'}, '*');
        };

        function showInstructionAd(){
            document.querySelectorAll('.invitation__ad--large.instruction')[0].style.display = 'block';
        }

        function handleTouchStart(evt) {
            xDown = evt.touches[0].clientX;
            yDown = evt.touches[0].clientY;
        };

        function handleTouchMove(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            var xUp = evt.touches[0].clientX;
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
                if ( xDiff > 0 ) {
                    /* left swipe */
                } else {
                    /* right swipe */
                }
            } else {
                if ( yDiff > 0 ) {
                    /* up swipe */
                    stretchBanner();
                } else {
                    /* down swipe */
                }
            }
            /* reset values */
            xDown = null;
            yDown = null;
        };
    }
</script>
