<nav class="kaskusnetworks">
  <div class="title-kn">kaskus networks:</div>
  <div class="list-kn">
    <a href="#" target="_blank">Opini</a>
    <a href="#" target="_blank">Bolalob</a>
    <a href="#" target="_blank">Womantalk</a>
    <a href="#" target="_blank">Beritagar</a>
    <a href="#" target="_blank">Kincir</a>
  </div>
</nav>
<div class="whatsapp-notice p-all-10">
  <div class="title-kn">Kirim info menarik di sekitarmu ke whatsapp</div>
  <!-- add more text here -->
  <a href="" class="green-box p-all-10 radius-5">
    <img src="../assets/img/whatsapp.png" alt="whatsapp-icon"/>
    <strong>+62811-9527-587</strong>
  </a>
</div>
<footer id="site-footer">
  <nav>
      <a href="#site-header">Back to top</a>
      <a href="http://kaskus.com">Desktop version</a>
      <a href="http://kaskus.com">Night mode</a>
      <a href="http://kaskus.com">Image off</a>
      <a href="#" class="out">Logout</a>
  </nav>
  <img src="../assets/img/banner1.jpg" height="250" width="300" alt="">
  <small>&copy; 2012 Kaskus – The Largest Indonesian Community</small>
</footer>
