<section class="relative">
    <div class="row">
        <div class="l-wrap l-wrap--xlarge small-centered column text-center">
            <ol class="c-steps-lounge medium-block-grid-3 small-block-grid-1">
                <li class="o-cara-join" data-animate="bounceInDown" data-duration="1.0s" data-delay="0.1s" data-offset="100">
                    <span class="small-5 c-steps-lounge-img"><img src="../assets/images/img-lounge-1.png"/></span>
                    <span class="small-7 c-steps-lounge-exp"><p>Bertanya tips kepada Creator lainnya</p></span>
                </li>
                <li class="o-cara-join" data-animate="bounceInDown" data-duration="1.0s" data-delay="0.1s" data-offset="100">
                    <span class="small-5 c-steps-lounge-img"><img src="../assets/images/img-lounge-2.png"/></span>
                    <span class="small-7 c-steps-lounge-exp"><p>Berbagi proses mencari inspirasi dan membuat thread</p></span>
                </li>
                <li class="o-cara-join" data-animate="bounceInDown" data-duration="1.0s" data-delay="0.1s" data-offset="100">
                    <span class="small-5 c-steps-lounge-img"><img src="../assets/images/img-lounge-3.png"/></span>
                    <span class="small-7 c-steps-lounge-exp"><p>Mendapatkan informasi terbaru seputar KASKUS Creator</p></span>
                </li>
            </ol>
        </div>
    </div>
</section>