<div class="invitation">
    <button aria-label="Close" class="invitation__close">&times;</button>
    <div class="invitation__wrapper">
        <div class="invitation__ad">
            <img src="http://network.innity.com/adtech/mobile/mobile_engage_pull/assets/pu/img_engage_more_2.png"/>
        </div>
        <div class="invitation__ad">
            <img src="http://network.innity.com/adtech/display/mobile/mobile_engage_pull/assets/pu/background_mobile.jpg"/>
        </div>
    </div>
</div>
<style>
    body{
        margin: 0;
        overflow: hidden;
    }
    .invitation{
        position: relative;    
    }
    .invitation__wrapper{
        padding: 0 20px;
        transition-delay: 3s;
        transition-duration: 0.3s;
        transition-property: margin-top;
    }
    .invitation__wrapper.scrolled{
        margin-top: -50px;
    }
    .invitation__ad{
        overflow: hidden;
        height: 50px;
    }
    .invitation__close{
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: black;
        color: white;
        border: none;
        position: fixed;
        right: 0;
        top: 0;
    }
</style>
<script>
    window.onload = function(e){
        document.getElementsByClassName('invitation__wrapper')[0].className += ' scrolled';
    }
</script>
