#amSkinVid-video-bg{
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  cursor: pointer;
}
 
#amSkinVid-video-layer{
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 1000px;
  left: 0;
  right: 0;
  cursor: pointer;
  background: url(../../bg-guide.png) no-repeat top center;
  background-position:center top;
  /*background-position:center 89px;*/
  background-repeat:no-repeat ;
  background-attachment:fixed;
  margin-left:auto;
  margin-right:auto ;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

#amSkinVid-video-link{
  width: 100%;
  height: 1000px;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}
 
#amSkinVid-video-wrapper{
  width: 100%;
  margin:0 auto;
  padding-top: 99px;
  position: relative;
}

#amSkinVid-video-container{
  width: 355px;
  margin:0 auto;
  height: 200px;
  position: relative;
  z-index: 3;
}
#amSkinVid-video-controls{
  position: absolute;
  bottom:5px;
  left: 5px;
  z-index: 4;
}
#amSkinVid-video-controls .fa{
  font-size: 24px;
  color: rgba(255,255,255,0.6);
  cursor: pointer;
}
#amSkinVid-video-controls .fa-play{
  display: none;
}
#amSkinVid-video-mute{
  position: absolute;
  bottom: 7px;
  right: 5px;
  z-index: 4;
}
#soundMute, #soundUnmute{
 max-width: 25px;
 opacity: 0.6;
 cursor: pointer;
}
#soundUnmute{
 display: none;
}
#amSkinVid-video{
  height: 100%;
}

body.amSkinVid .main-content-full{
   background-color: #f7f7f7;
   padding-bottom: 40px;
   position: relative;
   z-index: 4;
 }
 

body.amSkinVid .main{
   padding-top: 0;
   z-index: 2;
}

body.amSkinVid .header__category{
   margin-top: 0;
}
 
body.amSkinVid .site-footer{
   margin-top: 0px;
}