.anniversary{
	&.bgGradient,
	.bgGradient{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5563e8+0,6c2d9f+50,d14f44+100 */
	background: #5563e8; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #5563e8 0%, #6c2d9f 50%, #d14f44 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #5563e8 0%,#6c2d9f 50%,#d14f44 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #5563e8 0%,#6c2d9f 50%,#d14f44 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5563e8', endColorstr='#d14f44',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	&.bgPatternGrey{
		background-color: #ffffff;
		background-repeat: repeat;
		background-image: url(../images/bg-anniversary-pattern-grey.svg);
	}
	.bgPatternWhite{
		background-image: url(../images/bg-anniversary-pattern-white.svg);
	}
	.bgPatternColor{
		background-image: url(../images/bg-anniversary-pattern-color.svg);
		background-size: cover;
		background-repeat: no-repeat;
	}
	.imageGansStart{
		background-image: url(../images/image-anniversary-gans-start.svg);
		background-repeat: no-repeat;
		background-size: 60% auto;
		background-position: center bottom;
	}
	.imageGansHand{
		background-image: url(../images/image-anniversary-gans-hand.svg);
		background-repeat: no-repeat;
    background-size: 28% auto;
    background-position: center bottom;
    bottom: -55px;
    -webkit-animation: shake-vertical 1s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: shake-vertical 1s infinite; /* Firefox < 16 */
    -ms-animation: shake-vertical 1s infinite; /* Internet Explorer */
    -o-animation: shake-vertical 1s infinite; /* Opera < 12.1 */
    animation: shake-vertical 1s infinite;
	}
	.imageGansHandShadow{
		background-image: url(../images/image-anniversary-gans-hand-shadow.svg);
		background-repeat: no-repeat;
		background-size: 33% auto;
		background-position: center bottom;
		bottom: -47px;
	}
	.imageGansRecord{
		background-image: url(../images/image-anniversary-gans-record.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		bottom: -47px;
	}
	.imageBadgeShadow{
		background-image: url(../images/image-anniversary-badge-shadow.svg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		position: absolute;
		width: 205px;
		left: -30px;
		bottom: 2px;
		height: 100px;
	}
	.imageFlag{
		background-image: url(../images/image-flag.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		position: absolute;
		width: 300px;
		height: 100px;
		&.left{
			left: -30px;
			top: -20px;
		}
		&.right{
			right: -53px;
    	top: -14px;
			transform: scaleX(-1);
		}
	}
	&-TextBox{
		background-color: #ffffff;
		border: 3px solid #f6d584;
		outline: none;
		text-align: left;
		overflow: scroll;
	}
  .imageHeart {
    background-image: url(../images/icon-anniversary-heart.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 56px;
    left: 90px;
    -webkit-animation: zoomInOutFading 2s infinite linear; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: zoomInOutFading 2s infinite linear; /* Firefox < 16 */
    -ms-animation: zoomInOutFading 2s infinite linear; /* Internet Explorer */
    -o-animation: zoomInOutFading 2s infinite linear; /* Opera < 12.1 */
    animation: zoomInOutFading 2s infinite linear;
  }
  .imageThumb {
    background-image: url(../images/icon-anniversary-jempol.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 38px;
    left: 103px;
    -webkit-animation: thumbDance 1s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: thumbDance 1s infinite; /* Firefox < 16 */
    -ms-animation: thumbDance 1s infinite; /* Internet Explorer */
    -o-animation: thumbDance 1s infinite; /* Opera < 12.1 */
    animation: thumbDance 1s infinite;
  }
  .trumpetWrapper{
    position: absolute;
    width: 30px;
    height: 8px;
    top: 62px;
    right: 72px;
    overflow: hidden;
  }
  .imageTrumpet {
    background-image: url(../images/icon-anniversary-trompet.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 8px;
    animation: trumpetEject 0.5s infinite ease-in-out;
    -webkit-animation: trumpetEject 1s infinite ease-in-out; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: trumpetEject 1s infinite ease-in-out; /* Firefox < 16 */
    -ms-animation: trumpetEject 1s infinite ease-in-out; /* Internet Explorer */
    -o-animation: trumpetEject 1s infinite ease-in-out; /* Opera < 12.1 */
    animation: trumpetEject 1s infinite ease-in-out;
  }
  .imageMic {
    background-image: url(../images/image-anniversary-mic.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 60px;
    height: 75px;
    position: absolute;
    bottom: 29px;
    left: 228px;
    -webkit-animation: shakeMic 1s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: shakeMic 1s infinite; /* Firefox < 16 */
    -ms-animation: shakeMic 1s infinite; /* Internet Explorer */
    -o-animation: shakeMic 1s infinite; /* Opera < 12.1 */
    animation: shakeMic 1s infinite;
  }
}