<div id="qr-code-modal" class="modal-popup jsModal Pos(f) Z(100) Pt(30px) Start(0) T(0) W(100%) H(100%) Cur(p) Bgc(bgTransparent4) D(n)">
	<div class="Bgc(transparent) Ta(c) Pos(r) M(a) P(0) W(90%) Miw(300px) Maw(620px) Bdrs(5px) modal-popup-content">
		<div class="Bgc(#e4f5f8) Bdrs(5px) Ta(c) Py(10px) Px(15px) M(marginAuto0) W(92%)">
			<div class="Pos(r) Ta(end) Fz(14px) nightmode_C(#171717) jsCloseModal">
				<i class="fas fa-times"></i>
			</div>
			<div class="Px(15px)">
				<div class="Ov(h) M(marginAuto0) W(100%)">
					<img class="W(350px)" src="../assets/images/image-popup-qrcode.svg" alt="unsubscribe">
				</div>
			</div>
			<div class="W(100%) Bgc(#fff) M(marginAuto0) Pos(a) Start(0) Bdrs(5px) P(20px)">
				<div class="Tt(u) Fw(b) Fz(16px) Mb(10px) nightmode_C(#171717)">QR Code</div>
				<div>
					<img src="../assets/images/qr-code-kaskus.png" width="250px" height="250px">
				</div>
				<div class="Fz(13px) Fw(500) Mt(10px) nightmode_C(#171717)">ininamauserya</div>
			</div>
		</div>
	</div>
</div>