<div id="changeCoverPicture" class="modal Pos(f) T(0) W(100%) H(100%) Maw(620px) Bgc(white) Ovy(s) Fz(13) nightmode_Bgc(#171717) nightmode_C(#b3b3b3)">
	<div class="Bgc(#1998ed) C(white) Pos(f) W(100%)  nightmode_Bgc(#202020) nightmode_C(#ddd) Z(2)">
		<div class="D(f) Jc(c) Bxsh(category-shadow) H(40px) Ai(c) Py(5px) Pos(r) ">
			<div class="Fw(700) Py(5px) Fz(14px)">Ubah Profile Picture</div>
			<div>
				<a href="#" class="Pos(a) T(0) End(10px) P(5px) Pend(10px) Fz(20px) C(white)" onclick="toggleChangePP();"><i class="far fa-times"></i></a>
			</div>
		</div>
	</div>
	<div class="Pt(40px) Pos(f) H(100%) Ovy(a) W(100%)">
		<div class="is-open_Trf(modalOpen) is-open_Op(1) Op(0) Trsde(250ms) Trsdu(800ms) Trf(modalDefault) Trstf(transitionCubicBezier) Bgc(white) C(#555) nightmode_Bgc(#171717) nightmode_C(#b3b3b3)">
			<div class="modal-body">
	          	<input type="hidden" id="jsDataAvatar" />
	          	<div class="W(100%) H(320px) Pb(60px) Pos(r)">
	              	<div id="jsUploadAvatarCropper"></div>
	          	</div>
	          	<div class="D(f) Jc(se) P(10px) Mt(40px)">
              		<div class="Fx(flex1Auto) Fz(12px) C(#1998ed) Bdc(#1998ed) Mend(5px) Ta(c) nightmode_C(#fdba4d) nightmode_Bdc(#fdba4d) Bds(s) Bdw(1px) Px(20px) Py(5px) Bdrs(3px) Cur(p)" onclick="toggleChangePP();">Batal</div>
	              	<div id="jsButtonCropAvatar" class="Fx(flex1Auto) Fz(12px) C(#fff) Bgc(#1998ed) Mstart(5px) Bdrs(3px) Ta(c) nightmode_Bgc(#faa517) nightmode_Bgc(#484848) Py(5px) Cur(p) Px(20px)">Simpan</div>
              	</div>
	        </div>
		</div>
	</div>
</div>