<div id="unfollow-modal" class="modal-popup jsModal Pos(f) Z(100) Pt(30px) Start(0) T(0) W(100%) H(100%) Cur(p) Bgc(bgTransparent4) D(n)">
	<div class="Bgc(transparent) Ta(c) Pos(r) M(a) P(0) W(90%) Miw(300px) Maw(620px) Bdrs(5px) modal-popup-content">
		<div class="H(390px) H(360px)--sm H(340px)--ms Bgc(#e4f8f6) Bdrs(5px) Ta(c) Py(15px) Px(10px) M(marginAuto0) W(92%)">
			<div class="Pos(r) Ta(end) Fz(14px) nightmode_C(#171717) jsCloseModal">
				<i class="fas fa-times"></i>
			</div>
			<div class="Px(15px)">
				<div class="Ov(h) M(marginAuto0) W(100%)">
					<img class="W(350px)" src="../assets/images/image-unsubscribe-popup.svg" alt="unsubscribe">
				</div>
			</div>
			<div class="W(100%) Bgc(#fff) M(marginAuto0) Pos(a) Start(0) Bdrs(5px) P(20px) nightmode_Bgc(#171717)">
				<div class="Tt(u) Fw(b) Fz(18px) Mb(20px)">unsubscribe</div>
				<div class="Fz(14px) Lh(1.43) nightmode_C(#b3b3b3)">Agan yakin ingin unsubscribe The Lounge?</div>
				<div class="Mt(35px)">
					<a class="Bgc(transparent) Px(30px) Py(5px) C(#1998ed) nightmode_C(#faa517) nightmode_Bdc(#faa517) Bdc(#1998ed) Bdrs(3px) Bds(s) Bdw(1px) Mend(5px) jsDismissModal" href="javascript:void(0)">Tidak</a>
					<a class="Bgc(#1998ed) Px(30px) Py(5px) Bdc(##1998ed) Bdrs(3px) Bds(s) Bdw(1px) C(#fff) Mstart(5px) nightmode_Bgc(#faa517) nightmode_Bdc(#faa517) nightmode_C(#171717)" href="">Yakin</a>
				</div>
			</div>
		</div>
	</div>
</div>