<div id="viewProfilePicture" class="modal Pos(f) T(0) W(100%) H(100%) Maw(620px) Bgc(white) Ovy(s) Fz(13) nightmode_Bgc(#171717) nightmode_C(#b3b3b3)">
	<div class="Bgc(#1998ed) C(white) Pos(f) W(100%)  nightmode_Bgc(#202020) nightmode_C(#ddd) Z(2)">
		<div class="D(f) Jc(c) Bxsh(category-shadow) H(40px) Ai(c) Py(5px) Pos(r) ">
			<div class="Fw(700) Py(5px) Fz(16px)">Lihat Profile Picture</div>
			<div>
				<a href="#" class="Pos(a) T(0) End(10px) P(5px) Pend(10px) Fz(20px) C(white)" onclick="toggleProfile();"><i class="far fa-times"></i></a>
			</div>
		</div>
	</div>
	<div class="Pt(40px) Pos(f) H(100%) Ovy(a) W(100%)">
		<div class="is-open_Trf(modalOpen) is-open_Op(1) Op(0) Trsde(250ms) Trsdu(800ms) Trf(modalDefault) Trstf(transitionCubicBezier) Bgc(white) C(#555) nightmode_Bgc(#171717) nightmode_C(#b3b3b3)">
			<div>
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) W(20px)">
						<img src="../assets/images/hot_review_image.jpg" class="Bd(md-gray-border) Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Username</span>
				</a>
			</div>
			<div class="Bgc(#fffce1) BdY Bdc(#f9bbd0) C(red) nightmode_Bdc(#fbc160) nightmode_C(#dcdcdc) nightmode_Bgc(#171717)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px)">
						<img src="../assets/images/icon-chat-white.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Upgrade Akun ke Plus</span>
				</a>
			</div>
			<div class="">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-bell Fz(16px) Mend(6px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Notifications</span>
					<span class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">10</span>
				</a>
			</div>
			<div class="">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mstart(30px) nightmode_C(#dcdcdc)">New Private Message</span>
					<span class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">10</span>
				</a>
			</div>
			<div class="jsAccordionItem">
				<a class="P(15px) D(f) Jc(sb) Ai(c) Td(n):h Cur(p):h jsAccordionHeading menu" href="javascript:void(0);">
					<div class="D(f) Jc(fs)">
						<div class="Mstart(30px) C(#555) nightmode_C(#dcdcdc)">Transaksi Pembelian</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">100k</div>
					</div>
					<div class="Lh(12px) C(#d4d4d4)"><i class="fa fa-chevron-down"></i></div>
				</a>
				<div class="Px(60px) jsAccordionContent D(n)">
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Nego Ditolak</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">190</div>
					</div>
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Tunggu Pembayaran</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">99</div>
					</div>
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Konfirmasi Terima</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">87</div>
					</div>
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Lihat Pengaduan</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">56</div>
					</div>
				</div>
			</div>
			<div class="jsAccordionItem Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(sb) Ai(c) Td(n):h Cur(p):h jsAccordionHeading menu" href="javascript:void(0);">
					<div class="D(f) Jc(fs)">
						<div class="Mstart(30px) C(#555) nightmode_C(#dcdcdc)">Transaksi Penjualan</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">10</div>
					</div>
					<div class="Lh(12px) C(#d4d4d4)"><i class="fa fa-chevron-down"></i></div>
				</a>
				<div class="Px(60px) jsAccordionContent D(n)">
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Respon Pesanan</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">190</div>
					</div>
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Isi Resi</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">99</div>
					</div>
					<div class="D(f) Jc(fs) Py(10px)">
						<div class="nightmode_C(#dcdcdc)">Ada Pengaduan</div>
						<div class="Bgc(#f4f3f1) C(#f2ac00) Mstart(5px) Px(5px) nightmode_Bgc(#dcdcdc) nightmode_C(#171717)">87</div>
					</div>
				</div>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="Px(15px) Pt(15px) Pb(10px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h C(#484848) nightmode_C(#dcdcdc)">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px) Ac(c) nightmode_C(#dcdcdc">
						<img src="../assets/images/icon-poin.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">KASKUS Plus</span>
				</a>
				<div class="Px(45px) Pb(15px) C(#faa517)">
					<time>09/10/2018 20:45</time>
				</div>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px) Ac(c) nightmode_C(#dcdcdc">
						<img src="../assets/images/icon-creator.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Kreator</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px) Ac(c) nightmode_C(#dcdcdc">
						<img src="../assets/images/icon-poin.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Poin</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px) Ac(c) nightmode_C(#dcdcdc">
						<img src="../assets/images/icon-live-posting.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Live Posting</span>
					<span class="C(#fff) Bgc(#e4302f) Px(5px) Mstart(5px)">New</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-comments Fz(16px) Mend(6px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Forum Activities</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-shopping-cart H(16px) Mend(6px) W(16px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Jual Beli Activities</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="H(20px) Mend(10px) Miw(20px) W(20px) Ac(c) nightmode_C(#dcdcdc)">
						<img src="../assets/images/icon-chat-white.svg" class="Bdrs(20px) Flxs(0) H(100%) Ov(h) W(100%)">
					</span>
					<span class="nightmode_C(#dcdcdc)">Pasang Iklan</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-envelope H(16px) Mend(6px) W(16px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Private Message</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-cog H(16px) Mend(6px) W(16px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Account Setting</span>
				</a>
			</div>
			<div class="Bdb(light-gray-header-border) nightmode_Bdb(night-border)">
				<a class="P(15px) D(f) Jc(fs) Ai(c) Td(n):h Cur(p):h">
					<span class="Mend(10px) Miw(16px) Ac(c) nightmode_C(#dcdcdc)">
						<i class="fal fa-sign-out H(16px) Mend(6px) W(16px)"></i>
					</span>
					<span class="nightmode_C(#dcdcdc)">Keluar</span>
				</a>
			</div>
		</div>
	</div>
</div>