<html>
  <head>
    <link rel="stylesheet" href="../assets/stylesheets/banner.css">
  </head>
  <body>
    <div id="banner-content">
      <div class="banner-bg">
        <div id="banner-condensed-bg" onclick="expandBanner(this)"></div>
        <div id="banner-expanded-bg"></div>
      </div>
      <!-- <video id="banner-video" autoplay muted loop controls></video> -->
      <iframe id="banner-video" frameborder="0" allowfullscreen height="168"></iframe>
      <button id="close-button" onclick="shrinkBanner(this)">&#10006;</button>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="../assets/js/banner.js"></script>
  </body> 
</html>