<div class="Bgc(#ed83a5)">
  <div class="H(40px) Mx(a) Maw(1170px) P(r) D(f) Ai(c) ">
	  <div class="Fx(flexZero)">
      <div class="C(#ffffff) Mend(20px) ">
        <span class="Mstart(23px) Mend(7px) Fz(12px)">Kategori</span>
        <i class="fa fa-chevron-down Fz(11px)"></i>
      </div>
    </div>
    <div class="Fx(flexZero) W(1px) H(26px) Bgc(#ffffff) Mx(20px)"></div>
    <div class="Fx(flexOne)">
      <div class="D(f) List(n) ListChannel ListChannel-light">
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Story</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Hobby</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Game</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Entertaiment</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">News</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Tech</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Sports</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Automotive</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Food &amp; Travel</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Female</a></li>
        <li class="Fx(flexOne) ListChannel-item"><a href="" class="ListChannel-link">Video</a></li>
      </div>
    </div>
	</div>
</div>
