<!-- Sidebar Left -->
<div class="sidebar sidebarLeft jsSidebarLeft W(240px) D(f)">
  <!-- Sidebar Left Content -->
  <div class="sidebarInner sidebarLeftInner jsSidebarLeftInner D(f) Fld(c)">
    <!-- Header Section Small -->
    <div class="D(f) Ai(c) Mb(15px)">
      <img src="../assets/images/ic-obrolan-hangat.svg" width="28">
      <div class="Pos(r)">
        <span class="Ff(VagRounded) Lts(0.2px) Fz(14px) Mstart(10px) D(ib) Mt(4px) Mend(5px) C(#9e9e9e)">SUBSCRIPTIONS</span>
      </div>
    </div>
    <!-- List Thread List -->
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">MarKas KASKUS hadir lagi gan di BintaroXchange</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">Jokoanwar </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)"> The Lounge</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">Dika, Pemain Bass Kerispatih, Meninggal Dunia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">One Piece setahun lagi tamat, kira- kira endingnya gimana?</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#f8c31c)"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <!-- Ads Sidebar Left -->
    <div class="sidebarLeftAds Mb(15px)">
      <div class="W(100%) H(120px) Bgc(#dbdbdb) Ta(c) Lh(120px) C(#9b9b9b)">
        <div>
          <iframe width="100%" class="Bd(n)" height="120" src="../assets/images/ads-leaderboard.png" scrolling="no"></iframe>
        </div>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">MarKas KASKUS hadir lagi gan di BintaroXchange</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">Jokoanwar </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)"> The Lounge</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">Dika, Pemain Bass Kerispatih, Meninggal Dunia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">One Piece setahun lagi tamat, kira- kira endingnya gimana?</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#f8c31c)"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">MarKas KASKUS hadir lagi gan di BintaroXchange</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">Jokoanwar </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)"> The Lounge</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">Dika, Pemain Bass Kerispatih, Meninggal Dunia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">One Piece setahun lagi tamat, kira- kira endingnya gimana?</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#f8c31c)"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">MarKas KASKUS hadir lagi gan di BintaroXchange</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">Jokoanwar </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)"> The Lounge</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">Dika, Pemain Bass Kerispatih, Meninggal Dunia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
      </div>
    </div>
    <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
      <div class="Mend(17px)">
        <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">One Piece setahun lagi tamat, kira- kira endingnya gimana?</a>
        <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
          <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
          <a href="#" class="C(#484848)">kpopluckynumber </a>
          <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
          <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
        </div>
        <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#f8c31c)"></i>
      </div>
    </div>
    
    <div class="jsStickyAnchor">
    <!-- Ads Sidebar Left -->
      <div class="sidebarLeftAds">
        <div class="Mb(10px)">
          <iframe width="100%" class="Bd(n)" height="120" src="../assets/images/ads-leaderboard.png" scrolling="no"></iframe>
        </div>
      </div>
      <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
        <div class="Mend(17px)">
          <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
          <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
            <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
            <a href="#" class="C(#484848)">kpopluckynumber </a>
            <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
            <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
          </div>
          <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
        </div>
      </div>
      <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
        <div class="Mend(17px)">
          <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">MarKas KASKUS hadir lagi gan di BintaroXchange</a>
          <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
            <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
            <a href="#" class="C(#484848)">Jokoanwar </a>
            <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
            <a href="#" class="C(#484848)"> The Lounge</a>
          </div>
          <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
        </div>
      </div>
      <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
        <div class="Mend(17px)">
          <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">Dika, Pemain Bass Kerispatih, Meninggal Dunia</a>
          <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
            <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
            <a href="#" class="C(#484848)">kpopluckynumber </a>
            <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
            <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
          </div>
          <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
        </div>
      </div>
      <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
        <div class="Mend(17px)">
          <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">David Bechkam selingkuh dengan wanita asal Indonesia</a>
          <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
            <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
            <a href="#" class="C(#484848)">kpopluckynumber </a>
            <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
            <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
          </div>
          <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#b3b3b3) D(n) listThreadItem:h_D(b) C(#f8c31c):h Cur(p):h"></i>
        </div>
      </div>
      <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px) listThreadItem">
        <div class="Mend(17px)">
          <a href="#" class="Fz(13px) Lh(16px) C(#4a4a4a) Fw(500)">One Piece setahun lagi tamat, kira- kira endingnya gimana?</a>
          <div class="Mt(5px) Mb(10px) Fz(12px) Lh(18px)">
            <span class="C(#9e9e9e) Mend(3px)">dikomentari</span>
            <a href="#" class="C(#484848)">kpopluckynumber </a>
            <div class="W(1px) H(14px) Bgc(#484848) Mx(5px) D(ib) Va(m)"></div>
            <a href="#" class="C(#484848)">Manga, Manhua, & Manhwa</a>
          </div>
          <i class="fa fa-bookmark Pos(a) T(2px) End(0) Fz(14px) C(#f8c31c)"></i>
        </div>
      </div>
      <a href="#" class="Bgc(#1998ed):h C(#ffffff):h Td(n):h D(b) Py(7px) Px(7px) Fw(500) Ta(c) C(#1998ed) Bd(borderSolidBlue) Bdrs(5px) Mt(15px) Mb(15px)">Baca Thread Lain</a>
    </div>
    <!-- <img src="../assets/images/content-left.jpg" /> -->
  </div>
</div>
