<li class="D(f) Ai(c) Mb(15px)">
  <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
  <div class="Fx(flexOne) Mx(10px)">
    <div class="Fz(13px) Fw(500) Mb(5px)">Sempak Bola</div>
    <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
  </div>
  <div>
    <button class="Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Px(12px) Py(5px)">
      <i class="fa fa-arrow-circle-right Mend(3px)"></i>
      <span>Visit</span>
    </button>
  </div>
</li>
