<li class="D(f) Ai(c) Mb(15px)">
  <div class="Pos(r)">
    <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
    <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) Bottom(0)"></i>
  </div>
  <div class="Fx(flexOne) Mx(10px)">
    <div class="Fz(13px) Fw(500) Mb(5px)">jellybelly</div>
    <div class="C(#a3a3a3) Fz(11px)">newbie</div>
  </div>
  <div>
    <button class="Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Px(12px) Py(5px)">
      <i class="fa fa-plus-circle Mend(3px)"></i>
      <span>Follow</span>
    </button>
  </div>
</li>
