<div class="column Fx(flexOne) Mx(15px) W(400px)">
	<div class="Bgc(#ffffff) Px(15px) Pt(10px) Bdrs(3px) Bd(borderSolidLightGrey) Mb(10px)">
	  <div class="Ta(start) Fz(14px) Lh(25px) Mb(10px) Fw(500)">6 Subforum Asia</div>
	  <div class="D(f) Jc(fs) Mb(15px)">
	    <div class="Fx(flexOne) Mend(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">China</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	    <div class="Fx(flexOne) Mx(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">Indonesia</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	    <div class="Fx(flexOne) Mstart(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">Indonesia</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	  </div>
	  <div class="D(f) Jc(fs) Mb(15px)">
	    <div class="Fx(flexOne) Mend(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">China</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	    <div class="Fx(flexOne) Mx(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">Indonesia</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	    <div class="Fx(flexOne) Mstart(7px)">
	      <a class="Px(10px) Py(15px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h Bdrs(3px):h">
	        <div class="Ta(c)">
	          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
	          <p class="Fz(14px) Fw(500)">Indonesia</p>
	          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
	          <p class="C(#b3b3b3) Fz(12px)">500M Threads</p>
	        </div>
	      </a>
	    </div>
	  </div>
	</div>
</div>