<!-- Notice Board -->
<div class="Pos(r) Maw(970px) Mx(a) Mb(15px)">
  <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidRed) Pos(r)">
    <div class="H(100%) W(5px) Bdrs(3px) Pos(a) Start(-1px) T(0) Bgc(c-red-bright) Bdrststart(0) Bdrsbstart(0)"></div>
    <div class="D(f) Ai(c)">
      <div class="Fx(flexOne)">
        <i class="fas fa-exclamation-triangle Mend(5px) C(c-red-bright)"></i>
        <span class="C(c-red-bright)">Maintenance, KASKUS akan istirahat dulu sebentar Gan, dari jam 00:00 - selesai. <a href="" class="C(c-red-bright) Fw(700) Td(u):h">info di sini</a></span>
      </div>
      <div class="Fx(flexZero)">
        <button>
          <i class="far fa-times C(c-red-bright)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="Pos(r) Maw(970px) Mx(a) Mb(15px)">
  <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidBlue) Pos(r)">
    <div class="H(100%) W(5px) Bdrs(3px) Pos(a) Start(-1px) T(0) Bgc(c-blue) Bdrststart(0) Bdrsbstart(0)"></div>
    <div class="D(f) Ai(c)">
      <div class="Fx(flexOne)">
        <i class="fas fa-info-circle Mend(5px) C(c-blue)"></i>
        <span class="C(c-blue)">Maintenance, KASKUS akan istirahat dulu sebentar Gan, dari jam 00:00 - selesai. <a href="" class="C(c-blue) Fw(700) Td(u):h">info di sini</a></span>
      </div>
      <div class="Fx(flexZero)">
        <button>
          <i class="far fa-times C(c-blue)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="Pos(r) Maw(970px) Mx(a) Mb(15px)">
  <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidDarkOrange) Pos(r)">
    <div class="H(100%) W(5px) Bdrs(3px) Pos(a) Start(-1px) T(0) Bgc(c-dark-orange) Bdrststart(0) Bdrsbstart(0)"></div>
    <div class="D(f) Ai(c)">
      <div class="Fx(flexOne)">
        <i class="fas fa-bullhorn Mend(5px) C(c-dark-orange)"></i>
        <span class="C(c-dark-orange)">Maintenance, KASKUS akan istirahat dulu sebentar Gan, dari jam 00:00 - selesai. <a href="" class="C(c-dark-orange) Fw(700) Td(u):h">info di sini</a></span>
      </div>
      <div class="Fx(flexZero)">
        <button>
          <i class="far fa-times C(c-dark-orange)"></i>
        </button>
      </div>
    </div>
  </div>
</div>
