<div class="Mb(10px) Bgc(#ffffff) Bd(borderSolidLightGrey) Px(15px) Py(10px)">
  <div class="D(f) Ai(c)">
    <div class="Fx(flexOne)">
      <span class="C(#9e9e9e) Fz(11px)">Page 1 of 107</span>
    </div>
    <div class="Fx(flexZero) D(f) Ai(c)">
      <a class="C(#3f3f3f) Mx(8px)" href="#"><i class="fas fa-angle-double-left"></i></a>
      <a class="C(#3f3f3f) Mx(8px)" href="#"><i class="fas fa-chevron-left"></i></a>
      <a class="C(#3f3f3f) Td(n):h Mx(8px) W(20px) H(20px) Lh(22px) C(#ffffff) Ta(c) Bdrs(50%) Bgc(#1998ed)" href="#">1</a>
      <a class="C(#3f3f3f) Mx(8px)" href="#">2</a>
      <a class="C(#3f3f3f) Mx(8px)" href="#">3</a>
      <a class="C(#3f3f3f) Mx(8px)" href="#">4</a>
      <a class="C(#3f3f3f) Mx(8px)" href="#">5</a>
      <a class="C(#3f3f3f) Mx(8px)" href="#"><i class="fas fa-chevron-right"></i></a>
      <a class="C(#3f3f3f) Mx(8px)" href="#"><i class="fas fa-angle-double-right"></i></a>
    </div>
  </div>
</div>
