<!-- Post Item Second -->
<div class="Mb(15px) Bd(borderSolidLightGrey)">
  <!-- Post Item Header Top-->
  <div class="Px(15px) Py(18px) Bgc(#ffffff)">
    <div class="D(f) Ai(fs)">
      <div class="Fx(flexZero)">
        <img src="../assets/images/image-square2.png" class="W(36px) H(36px) Bdrs(50%)"/>
      </div>
      <div class="Fx(flexOne) Mx(15px)">
        <div class="Mb(5px) D(f) Ai(c)">
          <a href="#" class="Fz(14px) Fw(500) Mend(5px)">djoeragancendol</a>
          <i class="D(ib) W(15px) H(15px) Bgr(nr) Bgp(c) Bgz(ct) Bgi(iconBadgeKASKUSPlus) Mend(5px) Mb(2px)"></i>
          <span class="Fz(11px) Mt(3px) C(#9e9e9e)">17-12-2018 12:47</span>
        </div>
        <div class="Fz(12px) C(#9e9e9e)">kaskus addict</div>
      </div>
      <div class="Fx(flexZero)">
        <div class="D(f) Ai(c)">
          <span class="Mend(8px) C(#9e9e9e)">#2</span>
          <div class="Pos(r) jsPopover">
            <i class="Fz(15px) fas fa-ellipsis-h C(#b3b3b3) jsPopoverTrigger Cur(p):h"></i>
            <div class="jsPopoverMenu Pos(a) P(15px) End(1px) T(20px) Bgc(#ffffff) Z(2) Bd(borderSolidLightGrey) W(165px) toggleMenu">
               <ul>
                <li class="D(b) Mb(13px)">
                  <a href="" class="D(ib) C(#484848)">
                    <i class="Mend(12px) Va(m) fas Fz(14px) fa-bookmark fa-fw"></i>
                    <span class="Fz(12px)">Subscribe</span>
                  </a>
                </li>
                <div class="H(1px) Bgc(#d4d4d4)"></div>
                <li class="D(b) Mb(18px) Mt(15px)">
                  <a href="" class="D(ib) C(#484848)">
                    <i class="Mend(12px) Va(m) fab Fz(14px) fa-facebook-square fa-fw"></i>
                    <span class="Fz(12px)">Facebook</span>
                  </a>
                </li>
                <li class="D(b) Mb(18px)">
                  <a href="" class="D(ib) C(#484848)">
                    <i class="Mend(12px) Va(m) fab Fz(14px) fa-twitter-square fa-fw"></i>
                    <span class="Fz(12px)">Twitter</span>
                  </a>
                </li>
                <li class="D(b)">
                  <a href="" class="D(ib) C(#484848)">
                    <i class="Mend(12px) Va(m) fab Fz(14px) fa-google-plus-square fa-fw"></i>
                    <span class="Fz(12px)">Google Plus</span>
                  </a>
                </li>
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Post Item Content -->
  <div class="Px(15px) Py(20px) Bgc(#ffffff) Bdt(borderSolidLightGrey)">
    <article class="Lh(1.5) Fz(14px)">
      dari suhu ente nih gan
      <!-- Quote -->
      <div class="jsQuote Pstart(12px) Bdstart(borderSolidLightGrey) Bdw(2px) Mt(10px)">
        <div class="Mb(10px)">
          <span class="Fw(500) C(#9e9e9e)">babono's <a href="#">post</a></span>
        </div>
        <div class="C(#6e6e6e)">
          Perpindahan kalor tuh tiga-tiganya terjadi secara bersamaan. Lu bisa mengasumsikan salah satu aja yang dominan atau hanya analisis satu jenis perpindahan, tapi gak bisa bilang bahwa tiga-tiganya gak terjadi.

          Ada datanya gak yang dari 200C ke 150C butuh waktu berapa lama? Kalau di bumi kayaknya gak mungkin drop segitu dalam waktu instan, tapi di luar angkasa mungkin aja jauh lebih cepat dr bumi. Karena pressure drop juga ngaruh.
        </div>
      </div>
    </article>
    <!-- Edited Note -->
    <div class="Mt(20px) Fz(11px) C(#b3b3b3)">Edited by: yundame 2018-10-27 07:00</div>
  </div>
  <div class="D(f) Px(20px) Py(10px) Bgc(#ffffff)">
    <div class="Fx(flexOne)">
      <button class="Mend(15px)">
        <i class="D(ib) W(20px) H(20px) Bgi(iconCendolGray) Bgr(nr) Bgz(ct) Bgp(c) Va(b) Mb(1px)"></i>
        <i class="fas C(#b3b3b3) fa-arrow-up Fz(12px)"></i>
        <span class="C(#9e9e9e) Fz(12px)">720</span>
      </button>
      <button>
        <i class="D(ib) W(20px) H(20px) Bgi(iconBataGray) Bgr(nr) Bgz(ct) Bgp(c) Bgpy(2px) Va(b) Mb(1px)"></i>
        <i class="fas C(#b3b3b3) fa-arrow-down Fz(12px)"></i>
        <span class="C(#9e9e9e) Fz(12px)">29</span>
      </button>
    </div>
    <div class="Fx(flexZero)">
      <button class="Mend(15px)">
        <i class="fas C(#b3b3b3) fa-comments Mend(2px)"></i>
        <span class="C(#9e9e9e) Fz(12px)">Multiquote</span>
      </button>
      <button>
        <i class="fas C(#b3b3b3) fa-reply Mend(2px)"></i>
        <span class="C(#9e9e9e) Fz(12px)">Reply</span>
      </button>
    </div>
  </div>
  <div class="Px(20px) Py(10px) Bgc(#f9f9f9)">
    <div class="D(f) Mb(10px)">
      <div class="Fx(flexZero)">
        <a class="Fz(11px)" href="#">Lihat Semua Replies</a>
      </div>
    </div>
    <div class="Mx(-5px) H(1px) Bgc(#e9e9e9) Mb(10px)"></div>
    <div class="Pstart(20px)">
      <div class="D(f)">
        <div class="Fx(flexZero)">
          <img src="../assets/images/image-square1.png" class="W(25px) H(25px) Bdrs(50%)"/>
        </div>
        <div class="Fx(flexOne) Mstart(10px)">
          <div class="D(f) Fz(12px) Mb(10px) Ai(c)">
            <div class="Fx(flexOne)">
              <a href="#" class="Mend(5px) Fw(500)">thejones</a>
              <span>17-12-2018 15:10</span>
            </div>
            <div class="Fx(flexZero)">
              <button>
                <i class="C(#c7c7c7) fas fa-arrow-square-right"></i>
              </button>
            </div>
          </div>
          <div class="C(#3f3f3f) ">
            Gan,,ane booking 1 seat di sebelahnya cewe ca’em tapi, hahaha :malu
          </div>
          <div class="D(f) Py(10px)">
            <div class="Fx(flexOne)">
              <button class="Mend(15px)">
                <i class="D(ib) W(20px) H(20px) Bgi(iconCendolGray) Bgr(nr) Bgz(ct) Bgp(c) Va(b) Mb(1px)"></i>
                <i class="fas C(#b3b3b3) fa-arrow-up Fz(12px)"></i>
                <span class="C(#9e9e9e) Fz(12px)">720</span>
              </button>
              <button>
                <i class="D(ib) W(20px) H(20px) Bgi(iconBataGray) Bgr(nr) Bgz(ct) Bgp(c) Bgpy(2px) Va(b) Mb(1px)"></i>
                <i class="fas C(#b3b3b3) fa-arrow-down Fz(12px)"></i>
                <span class="C(#9e9e9e) Fz(12px)">29</span>
              </button>
            </div>
            <div class="Fx(flexZero)">
              <button>
                <i class="fas C(#b3b3b3) fa-reply Mend(2px)"></i>
                <span class="C(#9e9e9e) Fz(12px)">Reply</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
