<div class="Fx(flexZero)">
  <div class="D(f) Ai(c)">
    <span class="Mend(8px) C(#9e9e9e)">#4</span>
    <div class="Pos(r) jsPopover">
      <i class="Fz(15px) fas fa-ellipsis-h C(#b3b3b3) jsPopoverTrigger Cur(p):h"></i>
      <div class="jsPopoverMenu Pos(a) P(15px) End(1px) T(20px) Bgc(#ffffff) Z(2) Bd(borderSolidLightGrey) W(220px) toggleMenu">
         <ul class="Ovy(a) Mah(300px)">
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
           <li class="D(b)">
             <a href="" class="D(b) Bgc(#e9e9e9):h My(3px) P(5px) C(#484848)">
               <i class="Mend(12px) Va(m) fas Fz(14px) fas fa-exclamation-circle"></i>
               <span class="Fz(12px)">Lapor Hansip</span>
             </a>
           </li>
         </ul>
      </div>
    </div>
    <div class="checkbox Mstart(15px)">
      <label>
        <input type="checkbox">
        <i></i>
      </label>
    </div>
  </div>
</div>
