<!-- Sidebar Right -->
<div class="sidebar sidebarRight jsSidebarRight W(300px) Fl(start) jsStickyColumn">
  <!-- Sidebar Right Inner -->
  <div class="sidebarInner sidebarRightInner jsSidebarRightInner">
    <!-- Widget Channel Info -->
    <div class="Mb(15px)">
      <div class="Ta(c) H(50px) Bgz(cv) Bgp(c) Bgi(bg-sidebar)">
        <div class="Tsh(textShadow) Pt(20px) Fz(16px) C(#ffffff) Fw(700)">Hi, kpopluckynumber</div>
      </div>
      <div class="Py(10px) Bgc(#ffffff) Px(15px)">
        <a class="Td(n):h D(b) Ta(c) Py(8px) Bgc(#1998ed) C(#ffffff) Bdrs(3px) Fz(14px) jsModalTrigger" data-modal="jsModalSignin">Ceritakan Pengalamanmu</a>
      </div>
    </div>
    
    <!-- Ads Sidebar Right -->
        <div class="sidebarRightAds Mb(15px)">
          <div class="W(100%) Bgc(#dbdbdb) Ta(c)">
            <div>
              <iframe width="100%" class="Bd(n)" height="250" src="../assets/images/ads-leaderboard.png" scrolling="no"></iframe>
            </div>
          </div>
        </div>
        
    
            <!-- Card with Grey Border -->
            <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
              <!-- Header Section with Counter -->
              <div class="D(f) Ai(c) Mb(15px)">
                <img src="../assets/images/ic-event-calendar.svg" width="28">
                <div>
                  <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Acara Seru</span>
                </div>
              </div>
              <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
                <div class="Mend(65px) Mih(60px)">
                  <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
                  <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px) LineClamp(2,32px)">Yang hari ini</a>
                </div>
                <div class="Pos(a) Ov(h) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgz(cv) Bgp(c) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
                  <div class="Pos(a) W(100%) H(100%) Bgc(#000000) Op(0.6)"></div>
                  <div class="As(c)">
                    <div class="Fz(30px)">09</div>
                    <div class="Fz(14px)">OCT</div>
                  </div>
                </div>
              </div>
              <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
                <div class="Mend(65px) Mih(60px)">
                  <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
                  <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px) LineClamp(2,32px)">Yang Hari ini searah, Nebeng ane aja yuk Gan Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
                </div>
                <div class="Pos(a) Ov(h) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgz(cv) Bgp(c) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
                  <div class="Pos(a) W(100%) H(100%) Bgc(#000000) Op(0.6)"></div>
                  <div class="As(c)">
                    <div class="Fz(30px)">09</div>
                    <div class="Fz(14px)">OCT</div>
                  </div>
                </div>
              </div>
              <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
                <div class="Mend(65px) Mih(60px)">
                  <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
                  <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px) LineClamp(2,32px)">Yang Hariiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii ini searah, Nebeng ane aja yuk Gan</a>
                </div>
                <div class="Pos(a) Ov(h) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgz(cv) Bgp(c) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
                  <div class="Pos(a) W(100%) H(100%) Bgc(#000000) Op(0.6)"></div>
                  <div class="As(c)">
                    <div class="Fz(30px)">09</div>
                    <div class="Fz(14px)">OCT</div>
                  </div>
                </div>
              </div>
              <div class="Pos(r) Mb(10px)">
                <div class="Mend(65px) Mih(60px)">
                  <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
                  <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px) LineClamp(2,32px)">Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
                </div>
                <div class="Pos(a) Ov(h) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgz(cv) Bgp(c) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
                  <div class="Pos(a) W(100%) H(100%) Bgc(#000000) Op(0.6)"></div>
                  <div class="As(c)">
                    <div class="Fz(30px)">09</div>
                    <div class="Fz(14px)">OCT</div>
                  </div>
                </div>
              </div>
            </div>
            
    <!-- Ads Sidebar Right -->
                <div class="sidebarRightAds Mb(15px)">
                  <div class="W(100%) Bgc(#dbdbdb) Ta(c)">
                    <div>
                      <iframe width="100%" class="Bd(n)" height="250" src="../assets/images/ads-leaderboard.png" scrolling="no"></iframe>
                    </div>
                  </div>
                </div>
                
    <!-- Card with Grey Border -->
                    <div class="P(15px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
                      <!-- Header Section with Logo -->
                      <div class="D(f) Ai(c) Mb(15px) Jc(c)">
                        <img src="../assets/images/logo-kaskus-tv.svg" class="H(20px) W(a) Mt(5px)">
                      </div>
                      <div class="D(f) Flw(w) Jc(sb)">
                        <a href="">
                          <div class="W(127px) H(170px) Mb(15px) zoomBgImg">
                            <div class="W(100%) zoomBgImg-img H(100%) Bgp(c) Bgz(cv)" style="background-image: url('../assets/images/image-tv.png')"></div>
                          </div>
                        </a>
                        <a href="">
                          <div class="W(127px) H(170px) Mb(15px) zoomBgImg">
                            <div class="W(100%) zoomBgImg-img H(100%) Bgp(c) Bgz(cv)" style="background-image: url('../assets/images/image-tv2.png')"></div>
                          </div>
                        </a>
                        <a href="">
                          <div class="W(127px) H(170px) zoomBgImg">
                            <div class="W(100%) zoomBgImg-img H(100%) Bgp(c) Bgz(cv)" style="background-image: url('../assets/images/image-tv2.png')"></div>
                          </div>
                        </a>
                        <a href="">
                          <div class="W(127px) H(170px) zoomBgImg">
                            <div class="W(100%) zoomBgImg-img H(100%) Bgp(c) Bgz(cv)" style="background-image: url('../assets/images/image-tv.png')"></div>
                          </div>
                        </a>
                      </div>
                    </div>
                    
    <!-- Card with Grey Border -->
                        <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
                          <!-- Header Section with Counter -->
                          <div class="D(f) Ai(c) Mb(15px)">
                            <img src="../assets/images/ic-lagi-ngetop.svg" width="28">
                            <div>
                              <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Ngetop Hari Ini</span>
                            </div>
                          </div>
                          <div class="D(f) Pos(r) tabWithLine">
                            <div class="W(1/3) is-active Cur(p) jsNgetopTabButton">
                              <div class="Jc(c) D(f) Ai(c) Pb(10px)">
                                <i class="fa is-active_C(#1998ed) fa-users Mend(10px)"></i>
                                <span class="Fz(12px) is-active_C(#1998ed) Fw(500)">Groups</span>
                              </div>
                            </div>
                            <div class="W(1/3) Cur(p)">
                              <div class="Jc(c) D(f) Ai(c) Pb(10px) jsNgetopTabButton">
                                <i class="fa is-active_C(#1998ed) fa-pencil Mend(10px)"></i>
                                <span class="Fz(12px) is-active_C(#1998ed) Fw(500)">Kreator</span>
                              </div>
                            </div>
                            <div class="W(1/3) Cur(p)">
                              <div class="Jc(c) D(f) Ai(c) Pb(10px) jsNgetopTabButton">
                                <i class="fa is-active_C(#1998ed) fa-user Mend(10px)"></i>
                                <span class="Fz(12px) is-active_C(#1998ed) Fw(500)">User</span>
                              </div>
                            </div>
                            <div class="tabWithLine-line jsNgetopTabLine W(1/3)" style="transform: translateX(0px);"></div>
                          </div>
                          <div>
                            <div class="Ov(h)">
                              <div class="Pos(r) Whs(nw) tabWithLine-content jsNgetopTabContent Fz(0)" style="transform: translateX(0%)">
                                <div class="W(100%) D(ib) Va(t) Whs(n) ">
                                  <ul>
                                    <li class="D(f) Ai(c) Mb(15px)">
                                      <a href="#">
                                        <div class="Pos(r)">
                                          <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                        </div>
                                      </a>
                                      <div class="Fx(flexOne) Mx(10px)">
                                        <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">Sempak Bola</a>
                                        <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
                                      </div>
                                      <div>
                                        <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h Fz(12px) Px(12px) Py(5px) C(#484848)">
                                          <i class="fa fa-arrow-circle-right Mend(3px)"></i>
                                          <span>Visit</span>
                                        </a>
                                      </div>
                                    </li>
                                    
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                  <a href="#">
                                                    <div class="Pos(r)">
                                                      <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                    </div>
                                                  </a>
                                                  <div class="Fx(flexOne) Mx(10px)">
                                                    <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">Sempak Bola</a>
                                                    <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
                                                  </div>
                                                  <div>
                                                    <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h Fz(12px) Px(12px) Py(5px) C(#484848)">
                                                      <i class="fa fa-arrow-circle-right Mend(3px)"></i>
                                                      <span>Visit</span>
                                                    </a>
                                                  </div>
                                                </li>
                                                
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                              <a href="#">
                                                                <div class="Pos(r)">
                                                                  <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                </div>
                                                              </a>
                                                              <div class="Fx(flexOne) Mx(10px)">
                                                                <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">Sempak Bola</a>
                                                                <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
                                                              </div>
                                                              <div>
                                                                <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h Fz(12px) Px(12px) Py(5px) C(#484848)">
                                                                  <i class="fa fa-arrow-circle-right Mend(3px)"></i>
                                                                  <span>Visit</span>
                                                                </a>
                                                              </div>
                                                            </li>
                                                            
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                          <a href="#">
                                                                            <div class="Pos(r)">
                                                                              <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                            </div>
                                                                          </a>
                                                                          <div class="Fx(flexOne) Mx(10px)">
                                                                            <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">Sempak Bola</a>
                                                                            <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
                                                                          </div>
                                                                          <div>
                                                                            <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h Fz(12px) Px(12px) Py(5px) C(#484848)">
                                                                              <i class="fa fa-arrow-circle-right Mend(3px)"></i>
                                                                              <span>Visit</span>
                                                                            </a>
                                                                          </div>
                                                                        </li>
                                                                        
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                                      <a href="#">
                                                                                        <div class="Pos(r)">
                                                                                          <img src="../assets/images/image-square1.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                                        </div>
                                                                                      </a>
                                                                                      <div class="Fx(flexOne) Mx(10px)">
                                                                                        <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">Sempak Bola</a>
                                                                                        <div class="C(#a3a3a3) Fz(11px)">110 K Members</div>
                                                                                      </div>
                                                                                      <div>
                                                                                        <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h Fz(12px) Px(12px) Py(5px) C(#484848)">
                                                                                          <i class="fa fa-arrow-circle-right Mend(3px)"></i>
                                                                                          <span>Visit</span>
                                                                                        </a>
                                                                                      </div>
                                                                                    </li>
                                                                                    
                                    <li class="Fz(11px)">* Kreator Ngetop seluruh KASKUS</li>
                                  </ul>
                                </div>
                                <div class="W(100%) D(ib) Va(t) Whs(n) ">
                                  <ul>
                                    <li class="D(f) Ai(c) Mb(15px)">
                                      <a href="#">
                                        <div class="Pos(r)">
                                          <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                          <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) B(0) Bd(borderSolidGreen)"></i>
                                        </div>
                                      </a>
                                      <div class="Fx(flexOne) Mx(10px)">
                                        <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">jellybelly</a>
                                        <div class="C(#a3a3a3) Fz(11px)">newbie</div>
                                      </div>
                                      <div>
                                        <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) D(ib) Ta(c) W(80px) Fz(12px) Px(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h C(#484848)">
                                          <i class="fa fa-plus-circle Mend(3px)"></i>
                                          <span>Follow</span>
                                        </a>
                                      </div>
                                    </li>
                                    
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                  <a href="#">
                                                    <div class="Pos(r)">
                                                      <img src="../assets/images/image-square3.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                    </div>
                                                  </a>
                                                  <div class="Fx(flexOne) Mx(10px)">
                                                    <a href="#" class="C(#484848) Fz(13px) Fw(500) Mb(5px)">simone.void</a>
                                                    <div class="C(#a3a3a3) Fz(11px)">kaskus.addict</div>
                                                  </div>
                                                  <div>
                                                    <a href="#" class="jsFollowingButton D(ib) Ta(c) W(80px) Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9) Bgc(#dc3f4d):h Td(n):h C(#484848) C(#ffffff):h">
                                                      <span>Following</span>
                                                    </a>
                                                  </div>
                                                </li>
                                                
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                              <a href="#">
                                                                <div class="Pos(r)">
                                                                  <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                  <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) B(0) Bd(borderSolidGreen)"></i>
                                                                </div>
                                                              </a>
                                                              <div class="Fx(flexOne) Mx(10px)">
                                                                <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">jellybelly</a>
                                                                <div class="C(#a3a3a3) Fz(11px)">newbie</div>
                                                              </div>
                                                              <div>
                                                                <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) D(ib) Ta(c) W(80px) Fz(12px) Px(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h C(#484848)">
                                                                  <i class="fa fa-plus-circle Mend(3px)"></i>
                                                                  <span>Follow</span>
                                                                </a>
                                                              </div>
                                                            </li>
                                                            
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                          <a href="#">
                                                                            <div class="Pos(r)">
                                                                              <img src="../assets/images/image-square3.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                            </div>
                                                                          </a>
                                                                          <div class="Fx(flexOne) Mx(10px)">
                                                                            <a href="#" class="C(#484848) Fz(13px) Fw(500) Mb(5px)">simone.void</a>
                                                                            <div class="C(#a3a3a3) Fz(11px)">kaskus.addict</div>
                                                                          </div>
                                                                          <div>
                                                                            <a href="#" class="jsFollowingButton D(ib) Ta(c) W(80px) Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9) Bgc(#dc3f4d):h Td(n):h C(#484848) C(#ffffff):h">
                                                                              <span>Following</span>
                                                                            </a>
                                                                          </div>
                                                                        </li>
                                                                        
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                                      <a href="#">
                                                                                        <div class="Pos(r)">
                                                                                          <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                                          <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) B(0) Bd(borderSolidGreen)"></i>
                                                                                        </div>
                                                                                      </a>
                                                                                      <div class="Fx(flexOne) Mx(10px)">
                                                                                        <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">jellybelly</a>
                                                                                        <div class="C(#a3a3a3) Fz(11px)">newbie</div>
                                                                                      </div>
                                                                                      <div>
                                                                                        <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) D(ib) Ta(c) W(80px) Fz(12px) Px(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h C(#484848)">
                                                                                          <i class="fa fa-plus-circle Mend(3px)"></i>
                                                                                          <span>Follow</span>
                                                                                        </a>
                                                                                      </div>
                                                                                    </li>
                                                                                    
                                  </ul>
                                </div>
                                <div class="W(100%) D(ib) Va(t) Whs(n) ">
                                  <ul>
                                    <li class="D(f) Ai(c) Mb(15px)">
                                      <a href="#">
                                        <div class="Pos(r)">
                                          <img src="../assets/images/image-square3.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                        </div>
                                      </a>
                                      <div class="Fx(flexOne) Mx(10px)">
                                        <a href="#" class="C(#484848) Fz(13px) Fw(500) Mb(5px)">simone.void</a>
                                        <div class="C(#a3a3a3) Fz(11px)">kaskus.addict</div>
                                      </div>
                                      <div>
                                        <a href="#" class="jsFollowingButton D(ib) Ta(c) W(80px) Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9) Bgc(#dc3f4d):h Td(n):h C(#484848) C(#ffffff):h">
                                          <span>Following</span>
                                        </a>
                                      </div>
                                    </li>
                                    
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                  <a href="#">
                                                    <div class="Pos(r)">
                                                      <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                      <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) B(0) Bd(borderSolidGreen)"></i>
                                                    </div>
                                                  </a>
                                                  <div class="Fx(flexOne) Mx(10px)">
                                                    <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">jellybelly</a>
                                                    <div class="C(#a3a3a3) Fz(11px)">newbie</div>
                                                  </div>
                                                  <div>
                                                    <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) D(ib) Ta(c) W(80px) Fz(12px) Px(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h C(#484848)">
                                                      <i class="fa fa-plus-circle Mend(3px)"></i>
                                                      <span>Follow</span>
                                                    </a>
                                                  </div>
                                                </li>
                                                
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                              <a href="#">
                                                                <div class="Pos(r)">
                                                                  <img src="../assets/images/image-square3.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                </div>
                                                              </a>
                                                              <div class="Fx(flexOne) Mx(10px)">
                                                                <a href="#" class="C(#484848) Fz(13px) Fw(500) Mb(5px)">simone.void</a>
                                                                <div class="C(#a3a3a3) Fz(11px)">kaskus.addict</div>
                                                              </div>
                                                              <div>
                                                                <a href="#" class="jsFollowingButton D(ib) Ta(c) W(80px) Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9) Bgc(#dc3f4d):h Td(n):h C(#484848) C(#ffffff):h">
                                                                  <span>Following</span>
                                                                </a>
                                                              </div>
                                                            </li>
                                                            
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                          <a href="#">
                                                                            <div class="Pos(r)">
                                                                              <img src="../assets/images/image-square2.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                              <i class="W(12px) H(12px) Bdrs(50%) Bgc(#30c436) Pos(a) End(0) B(0) Bd(borderSolidGreen)"></i>
                                                                            </div>
                                                                          </a>
                                                                          <div class="Fx(flexOne) Mx(10px)">
                                                                            <a class="Fz(13px) Fw(500) Mb(5px) C(#484848)">jellybelly</a>
                                                                            <div class="C(#a3a3a3) Fz(11px)">newbie</div>
                                                                          </div>
                                                                          <div>
                                                                            <a href="#" class="Bdrs(3px) Bd(borderSolidLightGrey) D(ib) Ta(c) W(80px) Fz(12px) Px(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9):h Td(n):h C(#484848)">
                                                                              <i class="fa fa-plus-circle Mend(3px)"></i>
                                                                              <span>Follow</span>
                                                                            </a>
                                                                          </div>
                                                                        </li>
                                                                        
                                    <li class="D(f) Ai(c) Mb(15px)">
                                                                                      <a href="#">
                                                                                        <div class="Pos(r)">
                                                                                          <img src="../assets/images/image-square3.png" width="36" height="36" class="W(36px) H(36px) Bdrs(50%)"/>
                                                                                        </div>
                                                                                      </a>
                                                                                      <div class="Fx(flexOne) Mx(10px)">
                                                                                        <a href="#" class="C(#484848) Fz(13px) Fw(500) Mb(5px)">simone.void</a>
                                                                                        <div class="C(#a3a3a3) Fz(11px)">kaskus.addict</div>
                                                                                      </div>
                                                                                      <div>
                                                                                        <a href="#" class="jsFollowingButton D(ib) Ta(c) W(80px) Bdrs(3px) Bd(borderSolidLightGrey) Fz(12px) Py(5px) Trs(transitionAll) Bgc(#e9e9e9) Bgc(#dc3f4d):h Td(n):h C(#484848) C(#ffffff):h">
                                                                                          <span>Following</span>
                                                                                        </a>
                                                                                      </div>
                                                                                    </li>
                                                                                    
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        
    <!-- Card with Grey Border -->
                            <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
                              <!-- Header Section with Counter -->
                              <div class="D(f) Ai(c) Mb(15px)">
                                <img src="../assets/images/ic-rekomendasi-thread.svg" width="28">
                                <div>
                                  <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Khusus Buat Agan</span>
                                </div>
                              </div>
                              <!-- List Thread Khusus Buat Agan -->
                              <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                <div class="Fx(flexOne) Fw(500) Lh(19px) Lts(0.1px) C(#4a4a4a) Fz(13px)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                <div class="Fx(flexZero) Mstart(10px)">
                                  <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                </div>
                              </div>
                              <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                              </div>
                              <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                <div class="Fx(flexOne) Fw(500) Lh(19px) Lts(0.1px) C(#4a4a4a) Fz(13px)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                <div class="Fx(flexZero) Mstart(10px)">
                                  <img src="../assets/images/image-square3.png" class="W(60px) H(60px)"/>
                                </div>
                              </div>
                              <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                              </div>
                              <div class="D(f) Mb(10px) Pb(15px)">
                                <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Menuju Asian Games 2018</div>
                              </div>
                            </div>
                            
    <!-- Widget Info Hangat -->
                                <!-- Card with Grey Border -->
                                <div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey)">
                                  <!-- Header Section with Counter -->
                                  <div class="D(f) Ai(c) Mb(15px)">
                                    <img src="../assets/images/ic-thread-seru.svg" width="28">
                                    <div>
                                      <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Thread Seru</span>
                                    </div>
                                  </div>
                                  <!-- List Thread Info Hangat -->
                                  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                    <div class="Fx(flexOne)">
                                      <div class="Mb(8px) C(#4a4a4a) Lh(16px) Fz(13px) Fw(500)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                      <div class="Fz(12px) Lh(14px) C(#9e9e9e)">oleh metrotvnews</div>
                                    </div>
                                    <div class="Fx(flexZero) Mstart(10px) Pos(r)">
                                      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                      <div class="W(20px) H(20px) Pos(a) Bgc(#f23864) C(#ffffff) Lh(20px) Fw(700) Ta(c) Fs(i) Lts(2px) Start(0) T(0)">1</div>
                                    </div>
                                  </div>
                                  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                    <div class="Fx(flexOne)">
                                      <div class="Mb(8px) C(#4a4a4a) Lh(16px) Fz(13px) Fw(500)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                      <div class="Fz(12px) Lh(14px) C(#9e9e9e)">oleh metrotvnews</div>
                                    </div>
                                    <div class="Fx(flexZero) Mstart(10px) Pos(r)">
                                      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                      <div class="W(20px) H(20px) Pos(a) Bgc(#f23864) C(#ffffff) Lh(20px) Fw(700) Ta(c) Fs(i) Lts(2px) Start(0) T(0)">2</div>
                                    </div>
                                  </div>
                                  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                    <div class="Fx(flexOne)">
                                      <div class="Mb(8px) C(#4a4a4a) Lh(16px) Fz(13px) Fw(500)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                      <div class="Fz(12px) Lh(14px) C(#9e9e9e)">oleh metrotvnews</div>
                                    </div>
                                    <div class="Fx(flexZero) Mstart(10px) Pos(r)">
                                      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                      <div class="W(20px) H(20px) Pos(a) Bgc(#f23864) C(#ffffff) Lh(20px) Fw(700) Ta(c) Fs(i) Lts(2px) Start(0) T(0)">3</div>
                                    </div>
                                  </div>
                                  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
                                    <div class="Fx(flexOne)">
                                      <div class="Mb(8px) C(#4a4a4a) Lh(16px) Fz(13px) Fw(500)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                      <div class="Fz(12px) Lh(14px) C(#9e9e9e)">oleh metrotvnews</div>
                                    </div>
                                    <div class="Fx(flexZero) Mstart(10px) Pos(r)">
                                      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                      <div class="W(20px) H(20px) Pos(a) Bgc(#f23864) C(#ffffff) Lh(20px) Fw(700) Ta(c) Fs(i) Lts(2px) Start(0) T(0)">4</div>
                                    </div>
                                  </div>
                                  <div class="D(f) Mb(10px) Pb(15px)">
                                    <div class="Fx(flexOne)">
                                      <div class="Mb(8px) C(#4a4a4a) Lh(16px) Fz(13px) Fw(500)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
                                      <div class="Fz(12px) Lh(14px) C(#9e9e9e)">oleh metrotvnews</div>
                                    </div>
                                    <div class="Fx(flexZero) Mstart(10px) Pos(r)">
                                      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
                                      <div class="W(20px) H(20px) Pos(a) Bgc(#f23864) C(#ffffff) Lh(20px) Fw(700) Ta(c) Fs(i) Lts(2px) Start(0) T(0)">5</div>
                                    </div>
                                  </div>
                                </div>
                                
    <!-- <img src="../assets/images/content-right.jpg" /> -->
  </div>
</div>
