<div class="jsEmojiContainer W(500px) Pos(a) Z(1)" style="display: block;">
  <div class="W(15px) H(15px) Bgr(nr) Bgz(ct) Bgp(c) Bgi(bgTriangle) Pos(a) End(8px) T(-11px)"></div>
  <div class="Bd(borderSolidLightGrey) Bxsh(boxShadow)">
    <div class="D(f) Pos(r) Bgc(#f2f2f2)">
      <div class="W(50px) H(40px) D(f) Ai(c) Jc(c) is-active Cur(p) jsNgetopTabButton">
        <div class="W(20px) H(20px) Bg(bgImageProps)" style="background-image:url(../assets/images/ic-clock.png)"></div>
      </div>
      <div class="W(50px) H(40px) D(f) Ai(c) Jc(c) Cur(p) jsNgetopTabButton">
        <div class="W(20px) H(20px) Bg(bgImageProps)" style="background-image:url(../assets/images/ic-clock.png)"></div>
      </div>
      <div class="W(50px) H(40px) D(f) Ai(c) Jc(c) Cur(p) jsNgetopTabButton">
        <div class="W(20px) H(20px) Bg(bgImageProps)" style="background-image:url(../assets/images/ic-clock.png)"></div>
      </div>
    </div>
    <div class="Bgc(#ffffff)">
      <div class="Ov(h)">
        <div class="Pos(r) Whs(nw) jsNgetopTabContent Fz(0) tabContent" style="transform: translateX(0%)">
          <div class="W(100%) D(ib) Va(t) Whs(n) ">
            <ul class="D(f) Fxf(w)">
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
            </ul>
          </div>
          <div class="W(100%) D(ib) Va(t) Whs(n)  ">
            <ul class="D(f) Fxf(w)">
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
            </ul>
          </div>
          <div class="W(100%) D(ib) Va(t) Whs(n)  ">
            <ul class="D(f) Fxf(w)">
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji1.gif">
                </a>
              </li>
              <li class="W(1/5)">
                <a href="">
                  <img src="../assets/images/image-emoji2.gif">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
