<div class="Bgc(#ffffff) Px(15px) Py(20px) Bdrs(3px) Bd(borderSolidLightGrey) Mb(20px)">
  <div class="Pt(10px) Ta(c) Px(60px) Fz(18px) Lh(25px) Mb(30px)">KASKUS gets better when you subscribe to subforum, so find some that you’ll love!</div>
  <div class="D(f) Jc(fs) Mb(15px)">
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mend(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">China</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mx(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">Indonesia</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mstart(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">Indonesia</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
  </div>
  <div class="D(f) Jc(fs) Mb(15px)">
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mend(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">China</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mx(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">Indonesia</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
    <div class="Fx(flexOne) Bd(borderSolidLightGrey) Bdrs(3px) Mstart(7px)">
      <a class="P(10px) is-selected_Bgc(#f2f2f2) Bgc(#f2f2f2):h D(b) Td(n):h">
        <div class="Ta(c)">
          <img class="W(60px) H(60px) Bdrs(50%) Mb(20px)" src="https://unsplash.it/200/200">
          <p class="Fz(14px) Fw(500)">Indonesia</p>
          <p class="C(#b3b3b3) Fz(12px) Lh(1.5)">604K Threads</p>
          <p class="C(#b3b3b3) Fz(12px) Pb(5px)">500M Threads</p>
        </div>
      </a>
    </div>
  </div>
  <a href="#" class="Bgc(#1998ed):h C(#ffffff):h Td(n):h D(b) Py(7px) Px(7px) Fw(500) Ta(c) C(#1998ed) Bd(borderSolidBlue) Bdrs(3px) Mt(20px)">Selesai</a>
</div>