<!-- Thread Card Item -->
<div class="Bdrs(3px) Bd(borderSolidLightGrey) Bgc(#ffffff)">
  <!-- Thread Card Header -->
  <div class="D(f) Px(15px) Py(10px) Ai(c)">
    <div class="Fx(flexZero)">
      <img src="../assets/images/image-square2.png" class="W(25px) H(25px) Bdrs(50%)"/>
    </div>
    <div class="Fx(flexOne) Mstart(10px)">
      <div class="Mb(2px) Fz(13px) Fw(500)">
        <a href="#" class="C(#484848)">gegepgegep</a>
      </div>
      <div class="Fz(12px) C(#9e9e9e)">kaskus addict</div>
    </div>
    <div class="Fx(flexZero) D(f) Ai(c)">
      <div class="Pos(r) jsPopover ">
        <i class="Fz(15px) fas fa-ellipsis-h C(#b3b3b3) jsPopoverTrigger Cur(p):h"></i>
        <div class="jsPopoverMenu Pos(a) P(15px) End(1px) T(20px) Bgc(#ffffff) Z(2) Bd(borderSolidLightGrey) W(165px) toggleMenu">
           <ul>
            <li class="D(b) Mb(13px)">
              <a href="" class="D(ib) C(#484848)">
                <i class="Mend(12px) Va(m) fas Fz(14px) fa-bookmark fa-fw"></i>
                <span class="Fz(12px)">Subscribe</span>
              </a>
            </li>
            <div class="H(1px) Bgc(#d4d4d4)"></div>
            <li class="D(b) Mb(18px) Mt(15px)">
              <a href="" class="D(ib) C(#484848)">
                <i class="Mend(12px) Va(m) fab Fz(14px) fa-facebook-square fa-fw"></i>
                <span class="Fz(12px)">Facebook</span>
              </a>
            </li>
            <li class="D(b) Mb(18px)">
              <a href="" class="D(ib) C(#484848)">
                <i class="Mend(12px) Va(m) fab Fz(14px) fa-twitter-square fa-fw"></i>
                <span class="Fz(12px)">Twitter</span>
              </a>
            </li>
            <li class="D(b)">
              <a href="" class="D(ib) C(#484848)">
                <i class="Mend(12px) Va(m) fab Fz(14px) fa-google-plus-square fa-fw"></i>
                <span class="Fz(12px)">Google Plus</span>
              </a>
            </li>
           </ul>
        </div>
      </div>
      <div class="checkbox Mstart(15px)">
        <label>
          <input type="checkbox">
          <i></i>
        </label>
      </div>
    </div>
  </div>
  <!-- Thread Card Content -->
  <div class="D(f) Px(15px) Pb(10px) ">
    <div class="D(flexOne) Mih(60px) Jc(sb)">
      <div class="Fw(700) C(#4a4a4a) Fz(14px) Lh(16px) Mb(10px) Mend(15px)">
        Taman Safari Akan Laporkan Pemberi Minuman Keras
        <i class="D(ib) W(14px) H(14px) Bg(bgImageProps) Va(b)" style='background-image: url(../assets/images/ic-current-hot-thread.svg)'></i></div>
      <!-- Thread Card Content Tool -->
      <div class="D(f) Ai(c) Jc(sb)">
        <div class="D(f) Fx(flexOne) Jc(fs) Ai(c) Fz(12px) C(#9e9e9e)">
          <div class="D(f) Ai(c) Mend(20px)">
            <img class="Mb(5px)" src="../assets/images/ic-cendol-ijo-coklat.svg">
            <span class="Mstart(5px)">10</span>
          </div>
          <div class="D(f) Ai(c)">
            <i class="far fa-eye"></i>
            <span class="Mstart(7px)">5K</span>
          </div>
          <div class="Mstart(30px) C(#9e9e9e) Fz(12px)">99 Komentar</div>
        </div>
      </div>
    </div>    
  </div>
</div>
