<!-- Card with Grey Border -->
<div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
  <!-- Header Section with Counter -->
  <div class="D(f) Ai(c) Mb(15px)">
    <img src="../assets/images/ic-event-calendar.svg" width="28">
    <div>
      <span class="Ff(VagRoundedBold) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Acara Seru</span>
    </div>
  </div>
  <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
    <div class="Mend(65px)">
      <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
      <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px)">Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
    </div>
    <div class="Pos(a) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgc(yellow) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
      <div class="As(c)">
        <div class="Fz(30px)">09</div>
        <div class="Fz(14px)">OCT</div>
      </div>
    </div>
  </div>
  <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
    <div class="Mend(65px)">
      <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
      <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px)">Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
    </div>
    <div class="Pos(a) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgc(yellow) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
      <div class="As(c)">
        <div class="Fz(30px)">09</div>
        <div class="Fz(14px)">OCT</div>
      </div>
    </div>
  </div>
  <div class="Pos(r) Bdb(borderSolidGrey) Mb(10px)">
    <div class="Mend(65px)">
      <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
      <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px)">Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
    </div>
    <div class="Pos(a) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgc(yellow) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
      <div class="As(c)">
        <div class="Fz(30px)">09</div>
        <div class="Fz(14px)">OCT</div>
      </div>
    </div>
  </div>
  <div class="Pos(r) Mb(10px)">
    <div class="Mend(65px)">
      <div class="Fz(12px) C(#9e9e9e)">Banda Aceh</div>
      <a href="#" class="D(ib) C(#484848) Mt(10px) Mb(15px) Fw(500) Lh(16px)">Yang Hari ini searah, Nebeng ane aja yuk Gan</a>
    </div>
    <div class="Pos(a) T(-1px) End(0) Jc(c) W(60px) H(60px) Bgc(yellow) D(f) Bdrs(10px) Bdrsbstart(0) Ta(c) Fw(500)">
      <div class="As(c)">
        <div class="Fz(30px)">09</div>
        <div class="Fz(14px)">OCT</div>
      </div>
    </div>
  </div>
</div>
