<!-- Widget Channel Info -->
<div class="Mb(15px)">
  <div class="Ta(c) H(50px) Bgz(cv) Bgp(c) Bgi(bg-sidebar)"></div>
  <div class="Py(10px) Bgc(#ffffff) Px(15px)">
    <div class="D(f) Ai(c)">
      <div class="Fx(flexZero) Mend(12px)">
        <img class="W(44px) H(44px)" src="../assets/images/icon-channel/image-category-2.png" />
      </div>
      <div class="Fx(flexOne)">
        <div class="Ff(VagRounded) Fz(20px) Tt(c) Mb(5px)">Young On Top KASKUS Community (YOTKC)</div>
      </div>
    </div>
    <div>Forum bagi Kaskuser untuk berbagi gosip, gambar, foto dan video yang seru, lucu, serta unik. <span>subscribed</span></div>
    <a href="" class="Td(n):h D(b) Ta(c) Py(8px) Bgc(#1998ed) C(#ffffff) Bdrs(3px) Fz(14px)">Buat Post</a>
  </div>
</div>
