<!-- Card with Grey Border -->
<div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
  <!-- Header Section with Counter -->
  <div class="D(f) Ai(c) Mb(15px)">
    <img src="../assets/images/ic-jual-beli.svg" width="28">
    <div>
      <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Moderator</span>
    </div>
  </div>
  <!-- List Momod -->
  <div class="D(f) Fxf(nw)">
    <a href="#" class="D(f) Ai(c)">
      <div class="W(16px) H(16px) Bgz(ct) Bgp(c) Bgr(nr) Bdrs(50%)" style="background-image:url(../images/image-square4.png)"></div>
      <span>admin</span>
    </a>
  </div>
</div>
