<!-- Card with Grey Border -->
<div class="Px(15px) Py(10px) Bgc(#ffffff) Bd(borderSolidGrey) Mb(15px)">
  <!-- Header Section with Counter -->
  <div class="D(f) Ai(c) Mb(15px)">
    <img src="../assets/images/ic-rekomendasi-thread.svg" width="28">
    <div>
      <span class="Ff(VagRounded) Lts(0.2px) Fz(20px) Mstart(10px) D(ib) Mt(4px) Mend(5px)">Thread Rekomendasi</span>
    </div>
  </div>
  <!-- List Thread Khusus Buat Agan -->
  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
    <div class="Fx(flexOne) Fw(500) Lh(19px) Lts(0.1px) C(#4a4a4a) Fz(13px)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
    <div class="Fx(flexZero) Mstart(10px)">
      <img src="../assets/images/image-square4.png" class="W(60px) H(60px)"/>
    </div>
  </div>
  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
    <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
  </div>
  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
    <div class="Fx(flexOne) Fw(500) Lh(19px) Lts(0.1px) C(#4a4a4a) Fz(13px)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
    <div class="Fx(flexZero) Mstart(10px)">
      <img src="../assets/images/image-square3.png" class="W(60px) H(60px)"/>
    </div>
  </div>
  <div class="D(f) Mb(10px) Bdb(borderSolidLightGrey) Pb(15px)">
    <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Laporkan Pelaku Pemberi Minuman Keras</div>
  </div>
  <div class="D(f) Mb(10px) Pb(15px)">
    <div href="#" class="Fx(flexOne) Fw(500) Fz(13px) Lh(19px) Lts(0.1px) C(#4a4a4a)">Taman Safari Akan Menuju Asian Games 2018</div>
  </div>
</div>
