<div id="ad-container">
    <div id="ad-invitation">
        <div class="invitation__container--small">
            <a href="javascript:window.open(window.clickTag)">
              <div class="invitation__ad--small">
                  <img src="https://s.kaskus.id/img/seasonal/november2017/tematik/wp_background_fbpao54l8rbp.jpg"/>
              </div>
            </a>
        </div>
        <div class="invitation__container--large">
            <div class="invitation__ad--large instruction">
                <a href="javascript:window.open(window.clickTag)">
                  <div class="invitation__ad--video">
                    <div class="invitation__ad--link">
                        <img src="https://s.kaskus.id/img/seasonal/november2017/tematik/wp_background_fbpao54ewqaq.jpg"/>
                    </div>
                  </div>
                </a>
            </div>
        </div>
    </div>
</div>
<style>
    body{
        margin: 0;
        overflow: hidden;
    }
    .invitation__container--small{
        height: 50px;
        position: relative;
        overflow: hidden;
        transition: opacity 0.5s ease-in;
    }
    .invitation__container--large{
        height: 150px;
        position: relative;
        overflow: hidden;
        transition: opacity 0.5s ease-in;
    }
    .invitation__ad--small{
        height: 100%;
        max-width: 320px;
        /*max-width: 100%;*/
        overflow: hidden;
        margin: auto;
    }
    .invitation__ad--large{
        height: 100%;
        position: relative;
    }
    .invitation__ad--large img{
        max-width: 100%;
    }
    .invitation__ad--video{
        position: relative;
        height: 100%
    }
    .invitation__ad--link{
        position: relative;
        max-width: 100%;
        margin:0 auto;
        height: 150px;
    }
    #ad-video{
            position: absolute;
            max-width: 260px;
            top: 0%;
            left: 0%;
            right: 0;
            margin: 0 auto;
    }

    #ad-video iframe{
        box-shadow: 0 8px 10px rgba(0,0,0,0.5);
    }

    #ad-video video{
        box-shadow: 0 8px 10px rgba(0,0,0,0.5);
        margin:0 auto;
        width: 100%;
    }

    .invitation__close{
        -webkit-appearance: none;
        text-align: center;
        background-color: black;
        color: white;
        border: none;
        position: absolute;
        right: 0;
        top: 0;
    }
    .invitation__close--small{
        width: 20px;
        height: 20px;
    }
    .invitation__close--large{
        font-size: 30px;
        width: 40px;
        height: 40px;
        font-weight: bold;
        border-radius: 0 0 0 40px;
        padding: 0 0 10px 10px;
    }
</style>
<script>
    var clickTag = "http://www.bolt.id/boltplus?utm_source=Kaskus&utm_medium=ADI&utm_campaign=newplus_november";
    var first = true;
    window.onload = function(e){
        var xDown = null;
        var yDown = null;

        registerEventHandlers();
        function registerEventHandlers() {
            document.getElementsByClassName('invitation__ad--link')[0].addEventListener('click', goTo);
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('touchstart', handleTouchStart, false);
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('touchmove', handleTouchMove, false);
            document.getElementsByClassName('invitation__container--small')[0].addEventListener('click', stretchBanner, false);
            document.querySelectorAll('.invitation__close').forEach(function(el) {
                switch (el.getAttribute('aria-label').toLowerCase()) {
                    case 'shrink':
                        el.addEventListener('click', shrinkBanner, false);
                        break;
                    case 'remove':
                        el.addEventListener('click', removeBanner, false);
                        break;
                    default:
                        break;
                }
            });
        }

        function unregisterEventHandlers() {
            document.getElementsByClassName('invitation__ad--link')[0].addEventListener('click', goTo);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('touchstart', handleTouchStart);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('touchmove', handleTouchMove);
            document.getElementsByClassName('invitation__container--small')[0].removeEventListener('click', stretchBanner);
            document.querySelectorAll('.invitation__close').forEach(function(el) {
                switch (el.getAttribute('aria-label').toLowerCase()) {
                    case 'shrink':
                        el.removeEventListener('click', shrinkBanner);
                        break;
                    case 'remove':
                        el.removeEventListener('click', removeBanner);
                        break;
                    default:
                        break;
                }
            });
        }

        function autoClose() {
          if ( first ){
             shrinkBanner();
             first= false;
          }
        }

        function autoStretch() {
          stretchBanner();
        }

        function shrinkBanner() {
            // document.getElementsByClassName('invitation__container--small')[0].style.display = 'block';
            document.getElementsByClassName('invitation__container--small')[0].setAttribute('style','visibility:visible;opacity :1;height: 50px; ');
            window.parent.postMessage({message: 'shrink-banner'}, '*');
            stopVideo();
        };

        function stretchBanner() {
            // document.getElementsByClassName('invitation__container--small')[0].style.display = 'none';
            document.getElementsByClassName('invitation__container--large')[0].style.opacity = '0';
            document.getElementsByClassName('invitation__container--small')[0].setAttribute('style','visibility:hidden;opacity :0;height: 0px; ');
            document.getElementsByClassName('invitation__container--large')[0].style.opacity = '1';
            window.parent.postMessage({message: 'stretch-banner'}, '*');
            setTimeout(autoClose, 2000);
            // startVideo();
        }

        function goTo(){
            window.parent.postMessage({message: 'open-url', url: 'http://www.bolt.id/boltplus?utm_source=Kaskus&utm_medium=ADI&utm_campaign=newplus_november'}, '*');
        }

        function removeBanner() {
            unregisterEventHandlers();
            window.parent.postMessage({message: 'remove-banner'}, '*');
        };

        function handleTouchStart(evt) {
            xDown = evt.touches[0].clientX;
            yDown = evt.touches[0].clientY;
        };

        function handleTouchMove(evt) {
            if ( ! xDown || ! yDown ) {
                return;
            }

            var xUp = evt.touches[0].clientX;
            var yUp = evt.touches[0].clientY;

            var xDiff = xDown - xUp;
            var yDiff = yDown - yUp;

            if ( Math.abs( xDiff ) > Math.abs( yDiff ) ) {/*most significant*/
                if ( xDiff > 0 ) {
                    /* left swipe */
                } else {
                    /* right swipe */
                }
            } else {
                if ( yDiff > 0 ) {
                    /* up swipe */
                    stretchBanner();
                } else {
                    /* down swipe */
                }
            }
            /* reset values */
            xDown = null;
            yDown = null;
        };


         setTimeout(autoStretch, 1000);


    }
</script>
