<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>KASKUS | Kaskus Creator</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, height=device-height">

    <meta property="og:type" content="article" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:site_name" content="KASKUS Creator" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@kaskus" />
    <meta name="twitter:creator" content="@kaskus">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">

    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
    <link href="../assets/stylesheets/main.css" rel="stylesheet" type='text/css'>
    <!-- Start of kaskussupport Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zE||(function(e,t,s){var n=window.zE=window.zEmbed=function(){n._.push(arguments)}, a=n.s=e.createElement(t),r=e.getElementsByTagName(t)[0];n.set=function(e){ n.set._.push(e)},n._=[],n.set._=[],a.async=true,a.setAttribute("charset","utf-8"), a.src="https://static.zdassets.com/ekr/asset_composer.js?key="+s, n.t=+new Date,a.type="text/javascript",r.parentNode.insertBefore(a,r)})(document,"script","066d0d84-b59b-4453-87be-d1555b512185");/*]]>*/</script>
    <script type="text/JavaScript">
      // Hide Zendesk Widget by default
      window.zESettings = {
        webWidget: {
          helpCenter: {
            title: {
              '*': 'Bantuan'
            },
            messageButton: {
              '*': 'Hubungi Kami'
            }
          },
          contactForm: {
            title: {
              '*': 'Hubungi Kami'
            }
          }
        }
      };
      zE(function() {
        zE.hide();
      });



      // Function to load Zendesk Widget, with custom helpers
      function showWidget() {
        // $head.append($('\
        //   <style> \
        //   .Icon--zendesk { display:none !important; } \
        //   .ScrollContainer-header { background: #298FCE!important;color:#FFF;} \
        //   form.src-component-helpCenter-HelpCenterDesktop-form.u-cf.src-styles-components-Form-Form{display: none;} \
        //   .src-component-helpCenter-HelpCenterResults-item:before{content:"\e804"; color: #efb558; display: inline-block; font: normal normal normal 14px/1 fontello; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;} \
        //   </style> \
        //   '));

        var $head = $("#webWidget").contents().find("head");
        var url = "../assets/stylesheets/zendesk.css";
        $head.prepend($("<link/>", { rel: "stylesheet", href: url, type: "text/css" } ));

          // Show the widget
          zE.activate({hideOnClose: true});
        };
    </script>
    <!-- End of kaskussupport Zendesk Widget script -->
  </head>
  <body>

<header class="c-header jsHeader">
    <div class="c-header__row c-header__row__top">
      <div class="c-header__nav c-header__nav--flex">
        <a href="#" class="hide-above-768 c-navbar--mobile__btn"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <div class="c-header__logo">
            <h1><a class="o-logo o-logo--poin" href="#">Kaskus Poin</a></h1>
        </div>
        <div class="c-header__user">
            <!-- <div class="c-header__action">

            </div> -->
            <div class="c-header__action">
                <!-- <a href="#" class="c-header__action__button c-header__action__button--is-disabled">Daftar Sekarang</a> -->
                <a class="c-header__action__menu" href="#">Dashboard</a>
                <a class="c-header__action__menu" href="#">Kumpulkan Poin</a>
                <a class="c-header__action__menu" href="#">Kreator Lounge</a>
                <a class="c-header__action__menu" href="#">Event &amp; Promo</a>
                <a href="#" class="c-header__action__button">Buat Thread</a>
                <div class="c-header__wrapper__action jsDropdown">
                  <a class="c-header__action__avatar" style="background-image:url('https://s.kaskus.id/user/avatar/2016/05/16/male.jpg')">
                  </a>
                  <div class="c-header__action__dropdown jsDropdownMenu">
                     <ul>
                         <li><a href="">rizzk</a></li>
                         <li><a class="light" href="">habibrizzk@hotmail.com</a></li>
                         <hr class="seperator" />
                         <li><a href="">My Account</a></li>
                         <li><a href="">Kirim Kritik dan Saran</a></li>
                         <li class="logout"><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
                     </ul>
                  </div>
                  <!-- <a class="c-header__action__name hide-below-768">nyanyacat</a> -->
                  <i class="fa fa-angle-down jsDropdownIcon"></i>
                </div>
            </div>
            <!-- <a href="#" class="c-header__action__link">Masuk</a> -->
        </div>
      </div>
    </div>
    <!-- <div class="c-header__row c-header__row--grey hide-below-768">
      <div class="c-header__nav">
          <ul class="c-navbar--web jsNavbarWeb">
              <li class="jsNavbarWebItem active"><a href="">Dashboard</a></li>
              <li class="jsNavbarWebItem"><a href="">Kumpulkan Poin</a></li>
              <li class="jsNavbarWebItem"><a href="">Redeem Poin</a></li>
              <li class="jsNavbarWebItem"><a href="">Creator Lounge</a></li>
              <li class="jsNavbarWebItem"><a href="">Referral System</a></li>
              <li class="jsNavbarWebItem"><a href="">Event &amp; Promo</a></li>
              <span class="c-navbar--web__indicator jsNavbarWebIndicator"></span>
          </ul>
      </div>
    </div> -->
</header>
<div class="c-navbar__overlay"></div>
<div class="c-navbar--mobile">
    <div class="c-navbar--mobile__header">
        <h3>MENU</h3>
        <div class="c-navbar--mobile__header__close close-button"><span aria-hidden="true">×</span></div>
    </div>
    <ul>
        <li><a href="">rizzk</a></li>
        <li><a class="light" href="">habibrizzk@hotmail.com</a></li>
        <hr class="seperator" />
        <li><a href="">Dashboard</a></li>
        <li><a href="">Kumpulkan Poin</a></li>
        <li><a href="">Krator Lounge</a></li>
        <li><a href="">Event &amp; Promo</a></li>
        <li class="active"><a href="">Creator Lounge</a></li>
        <li><a href="">Bantuan</a></li>
        <li class="logout"><a href=""><i class="fa fa-sign-out"></i> Logout</a></li>
    </ul>
    <div class="c-navbar--mobile__action__wrapper">
      <button href="#" class="c-navbar--mobile__action">Buat Thread</button>
    </div>
    <div class="c-navbar--mobile__action__wrapper">
      <button href="#" class="c-navbar--mobile__action c-navbar--mobile__action--is-disabled">Daftar Sekarang</button>
    </div>
    <div class="c-share--mobile">
        <p>Bagikan ke teman</p>
        <ul>
            <li class="c-share--fb">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li class="c-share--tw">
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="c-share--gp">
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="c-share">
    <ul>
        <li class="c-share--fb">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
        </li>
        <li class="c-share--tw">
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
        </li>
        <li class="c-share--gp">
            <a href="#">
                <i class="fa fa-google-plus"></i>
            </a>
        </li>
        <li class="c-share--faq">
            <a href="#" onclick="showWidget();">
                <i class="fa fa-question"></i>
            </a>
        </li>
    </ul>
</div>

<div class="c-header__seperator c-header__seperator--tall"></div>
<div class="c-header__notice">
	<section class="c-header__notice__wrapper">
		<span class="c-header__notice__content">Sabar ya Gan! Agan dapat mendaftar kembali setelah 9 hari</span>
	</section>
</div>
<div class="c-promo__hero l-main">
	<div class="l-wrap--medium-large c-promo--wrapper m-0-auto">
		<div class="small-12">
			<div class="c-promo__hero__slider">
				<span class="c-promo__hero__tag c-promo__hero__tag--point jsPromoHeroTagPoint">+50</span>
				<span class="c-promo__hero__tag c-promo__hero__tag--kaspay jsPromoHeroTagKaspay">+</span>
				<div class="jsPromoHeroSlider">
					<div class="jsPromoHeroSlide c-promo__hero__slide" data-point="100" data-kaspay="true" data-url="http://www.google.com" data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.">
						<img class="c-promo__hero__image" src="../assets/images/img-hero-promo.png" alt="" />
					</div>
					<div class="jsPromoHeroSlide c-promo__hero__slide" data-point="50" data-kaspay="false" data-url="http://www.kaskus.co.id" data-content="Korokoro Jamunika Kanualaak Moniksds Nissisisisis Babababaababa Jonikali">
						<img class="c-promo__hero__image" src="../assets/images/img-hero-promo2.png" alt="" />
					</div>
					<div class="jsPromoHeroSlide c-promo__hero__slide" data-point="10" data-kaspay="true" data-url="http://www.primbon.com" data-content="Yahabiii Salam Alaikaaaa Solawatulloh Alaaikaa Yahabiii Salaaaam Alaaaika">
						<img class="c-promo__hero__image" src="../assets/images/img-hero-promo.png" alt="" />
					</div>
				</div>
			</div>
			<div class="c-promo__hero__content jsPromoHeroContent">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
			<a class="c-promo__hero__button o-btn--light-blue jsPromoHeroButton">LIHAT SELENGKAPNYA</a>
		</div>
	</div>
	<div class="hide-below-1024">
		<div class="o-coin o-coin--7" data-0="transform: rotate(0deg);bottom:81%;left:9%" data-end="transform: rotate(-30deg);bottom:11%;left:12%"></div>
		<div class="o-coin o-coin--8" data-0="bottom:30%;left:3%" data-end="bottom:20%;left:3%"></div>
		<div class="o-coin o-coin--9" data-0="bottom:15%;left:22%; transform: rotate(0deg);" data-end="bottom:-50%;left:22%;transform: rotate(2700deg);"></div>
		<div class="o-coin o-coin--10" data-0="transform: rotate(0deg); bottom:74%;right:10.5%" data-end="transform: rotate(-1800deg);bottom:-50%;right:10.5%"></div>
		<div class="o-coin o-coin--11" data-0="bottom:25%;right:5%" data-end="bottom:-10%;right:5%"></div>
		<div class="o-coin o-coin--12" data-0="bottom:12%;right:18%" data-end="bottom:8%;right:18%"></div>
	</div>
</div>
<div class="c-promo__list l-main">
	<div class="l-wrap--large c-promo__wrapper">
		<div class="row">
			<div class="small-12 columns c-promo__tab__nav">
				<ul class="tabs c-promo__tab__nav__list" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge="500" data-tabs id="jsPromoEventTabs">
				  <li class="tabs c-promo__tab__nav__item jsPromoTabNav tabs-title is-active">
						<a class="c-promo__tab__nav__link" href="#panel1d" aria-selected="true">Promo</a>
					</li>
				  <li class="tabs c-promo__tab__nav__item jsPromoTabNav tabs-title">
						<a class="c-promo__tab__nav__link" href="#panel2d">Event</a>
					</li>
					<span class="c-promo__tab__nav__indicator jsTabNavIndicator"></span>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div class="tabs-content" data-tabs-content="jsPromoEventTabs">
				  <div class="tabs-panel is-active" id="panel1d" aria-hidden="false">
						<ul class="small-block-grid-2 medium-block-grid-3">
							<li class="c-card-vertical--wrapper">
								<a data-open="promoModal">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+10</span>
										</span>
										<span class="c-card-vertical--kaspay-wrapper">
											<span class="c-card-vertical--kaspay">+</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 06 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper is-ended">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+10</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--kaspay-wrapper">
											<span class="c-card-vertical--kaspay">+</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+100</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper is-ended">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+1000</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+1000</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
						</ul>
				  </div>
				  <div class="tabs-panel" id="panel2d">
						<ul class="small-block-grid-2 medium-block-grid-3">
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+10</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper is-ended">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+100</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+10</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper is-ended">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+10000</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper ">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+1000</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
							<li class="c-card-vertical--wrapper">
								<a href="">
									<div class="c-card-vertical--image">
										<img src="../assets/images/img-promo.png" alt="" />
										<span class="c-card-vertical--poin-wrapper">
											<span class="c-card-vertical--poin">+1000</span>
										</span>
									</div>
									<div class="c-card-vertical--desc m-top-5">
										<div>Kumpulan Kisah Mistis</div>
										<div class="date">Periode: 05 Nov - 30 Nov 2017</div>
									</div>
								</a>
							</li>
						</ul>
				  </div>
				</div>
				<a class="c-promo__list__button o-btn--list-blue">LIHAT LAINNYA</a>
			</div>
		</div>
	</div>
</div>
<div class="c-modal__vtm o-reveal--vtm reveal" id="vtmModal" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <div class="c-modal__vtm__img c-modal__vtm__img--register"></div>
  <h3>Agan yakin ingin bergabung menjadi Verified Thread Maker?</h3>
  <p>Proses Review akan memakan waktu maksimum 7 x 24</p>
  <div class="row">
	  <div class="large-11 columns small-centered c-modal__vtm__btn ">
	  		<div class="small-6 columns p-left-0"><button class="o-btn--list-blue" data-close aria-label="Close modal">Nanti Aja</button></div>
	  		<div class="small-6 columns p-left-0"><button class="o-btn--blue" data-open="vtmModalRequired">Yakin, Gan!</button></div>
	  </div>
  </div>
  <button class="o-btn--close close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="c-modal__vtm o-reveal--vtm reveal" id="vtmModalRequired" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <div class="c-modal__vtm__img c-modal__vtm__img--warning"></div>
  <h3>Buat 1 Postingan Thread Dulu Gan!</h3>
  <p>Untuk register KASKUS Kreator agan harus sudah pernah membuat minimal 1 postingan Thread</p>
  <button class="o-btn--close close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="c-modal__vtm o-reveal--vtm reveal" id="vtmModalWaiting" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <div class="c-modal__vtm__img c-modal__vtm__img--waiting"></div>
  <h3>Menunggu Proses Verifikasi</h3>
  <button class="o-btn--close close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="c-modal__vtm o-reveal--vtm reveal" id="vtmModalRejected" data-reveal data-animation-in="slide-in-down" data-animation-out="slide-out-up">
  <div class="c-modal__vtm__img c-modal__vtm__img--rejected"></div>
  <h3>Sabar ya Gan!</h3>
  <p>Agan dapat mendaftar kembali setelah 9 hari</p>
  <button class="o-btn--close close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="c-promo__modal reveal" id="promoModal" data-reveal data-animation-in="slide-in-down fast" data-animation-out="slide-out-up fast">
  <button class="c-promo__modal__close close-button" data-close aria-label="Close modal" type="button">
    <i class="fa fa-times"></i>
  </button>
  <div class="c-promo__modal__image">
    <img src="../assets/images/img-hero-promo.png" alt="" />
  </div>
  <div class="c-promo__modal__content">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
  <a class="c-promo__modal__button o-btn--light-blue jsPromoHeroButton">LIHAT SELENGKAPNYA</a>
</div>

<footer class="c-footer--btm">
	<div class="l-wrap l-wrap--short">
		<div class="row">
			<div class="small-12 txt-ctr large-6 small-centered columns pl-0">
				<p>Copyright &copy; 2017 KASKUS Networks. All Rights Reserved</p>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="../assets/js/vendor.min.js"></script>
<script type="text/javascript" src="../assets/js/script.min.js"></script>
</body>
</html>

