#Cube-container {
    width: 250px;
    height: 250px;
    position: relative;
    top: 0%;
    margin: auto;

    perspective: 1000px;
    -webkit-perspective: 1000px;
}
#Cube {
    width: 100%;
    height: 100%;
    position: absolute;

    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.Cube-transition {
    /** Change the transition duration here. */
    transition: transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
}
.Cube-face {
    width: 246px;
    height: 246px;
    position: absolute;
    background-color: white;
    margin: 0;
    display: block;
}

#Cube .Cube-front {
    transform: rotateY(0deg) translateZ(123px);
    -webkit-transform: rotateY(0deg) translateZ(123px);
}
#Cube .Cube-back {
    transform: rotateX(180deg) translateZ(123px);
    -webkit-transform: rotateX(180deg) translateZ(123px);
}
#Cube .Cube-right {
    transform: rotateY(90deg) translateZ(123px);
    -webkit-transform: rotateY(90deg) translateZ(123px);
}
#Cube .Cube-left {
    transform: rotateY(-90deg) translateZ(123px);
    -webkit-transform: rotateY(-90deg) translateZ(123px);
}
#Cube .Cube-top {
    transform: rotateX(90deg) translateZ(123px);
    -webkit-transform: rotateX(90deg) translateZ(123px);
}
#Cube .innityAppsCube-bottom {
    transform: rotateX(-90deg) translateZ(123px);
    -webkit-transform: rotateX(-90deg) translateZ(123px);
}