<div class="c-threadlist jsThreadList">
		<div class="o-dialog">
			<div class="o-dialog__header">
				<div class="o-dialog__btn" onclick="closeThreadDrop();">
					<i class="fa fa-chevron-left" aria-hidden="true"></i>
				</div>
				<div class="o-dialog__title">Pilih Thread</div>
			</div>
			<div class="maw-640">
				<div class="o-search mw7">
					<div class="o-search__wrap">
						<i class="fa fa-search" aria-hidden="true"></i>
						<input type="search">
					</div>
				</div>
				<div class="c-threadlist__wrap">
					<div class="c-threadlist__item">
						<a href="" class="c-threadlist__link">Buat Thread</a>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr1" value="other"  >
	      				<label for="tr1"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr2" value="other"  >
	      				<label for="tr2"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr3" value="other"  >
	      				<label for="tr3"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr4" value="other"  >
	      				<label for="tr4"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr5" value="other"  >
	      				<label for="tr5"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr6" value="other"  >
	      				<label for="tr6"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr7" value="other"  >
	      				<label for="tr7"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr8" value="other"  >
	      				<label for="tr8"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr9" value="other"  >
	      				<label for="tr9"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr10" value="other"  >
	      				<label for="tr10"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr11" value="other"  >
	      				<label for="tr11"><span>Deretan Komposer Musik (Scoring) Terbaik</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr12" value="other"  >
	      				<label for="tr12"><span>Driver Ojol Minta Saran Nama Bayi, Ini Jawab</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr13" value="other"  >
	      				<label for="tr13"><span>10 Nama Anti Mainstream & Indonesia Punya</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr14" value="other"  >
	      				<label for="tr14"><span>Penampilan Nicolas Flamel di Trailer Baru</span></label>
					</div>
					<div class="c-threadlist__item">
						<input type="checkbox" name="optionsRadios" id="tr15" value="other"  >
	      				<label for="tr15"><span>Paduan Suara ITB Panen Medali di Italia</span></label>
					</div>
				</div>
		    </div>
		</div>
	</div>