<div class="db center mw5 tc black">
  <div class="ph4">
    <img class="db ba b--black-10 jsPlayImage" alt="KASKUS Nyobain" src="../assets/images/image-kaskusnyobain.png" >
  </div>
  <dl class="mt2 lh-copy">
    <dt class="clip">Title</dt>
    <dd class="ml0 f3 vagRoundedBold">KASKUS Nyobain</dd>
    <dt class="clip">Artist</dt>
    <dd class="ml0 gray">by kaskus.wave</dd>
    <dt class="clip">Description</dt>
    <dd class="ml0 black f6">Mobil balap, makanan nggak enak, & semua yang lagi HITZ akan dicobain sama Sist Irind di KASKUS Nyobain! Episode baru muncul setiap Jumat! </dd>
  </dl>
  <!-- <a class="f6 grow no-underline br-pill ph5 pv2 mb2 dib white bg-green tc" href="#0">Play</a> -->
</div>
