<div class="cf pa2">
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/oWzJgl8duDs/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 13: Nyobain Bubur Sumsum Ayam Sukabumi</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 20%;"></div>
          </div>
          <!-- <span class="jsPlayViewsCount"><i class="fas fa-play"></i> 20,876</span> -->
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 59</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/XvXgj9dvRZk/maxresdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 12: Anti Matgay di MARKAS Meski Tanpa Cash</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 532</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/kZ4__DxAgeM/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 11: Menikmati Hari Paling Bahagia di Markas 2018</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 620</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/qKo6DC4SXac/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 10: Ngintip Kerennya Velodrome dan Stadion Aquatic GBK #AsianGames2018</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 734</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/XOMMkV0Rl4s/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 9: Rujak Shanghai yang Legendaris</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 692</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/dEyXbkYCkF4/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 8: Main Tamiya</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 701</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/z-sZq1Vo_as/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 7: Cabe-Cabean Terpedas di Dunia</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 788</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/JaCSdNUIPiA/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 6: Pedasnya Ayam Spicy McD</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 731</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/XMs6Co7N-qM/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 5: Nyobain All New Sirion, Mobilnya Generasi Kekinian</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 652</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/huD1zDK9POQ/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 4: Dinner Romantis di Angkasa</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1 is-hide">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 667</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/7sdyvd-VYXM/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 3: Istora Baru, Jangan Bikin Malu</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 723</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/O2p0JBdJFVs/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 2: Mendadak Artsy di Museum MACAN</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 1236</span> -->
        </div>
      </div>
    </a>
  </div>
  <div class="fl w-100 pa2">
    <a class="link black jsPlayLink flex items-center">
      <div class="fl mr2">
        <div style="width:65px; height:65px;">
          <div class="aspect-ratio aspect-ratio--1x1 mb4">
            <div class="aspect-ratio--object cover" style="background:url(http://i3.ytimg.com/vi/oWzJgl8duDs/hqdefault.jpg) center;"></div>
          </div>
        </div>
      </div>
      <div class="flex-auto">
        <div class="jsPlayTitle f5 line-clamp">Episode 1: Ayam Crispy pakai saus coklat, gimana rasanya ya?</div>
        <div class="f6 truncate mt1">
          <span>6 menit ▪ 14 Februari 2018</span>
        </div>
        <div class="mt1">
          <div class="c-progress__scale">
            <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
          </div>
          <!-- <span class="mr2"><i class="fas fa-comment"></i> 876</span> -->
        </div>
      </div>
    </a>
  </div>
</div>
