<nav class="pa3 fixed top-0 left-0 w-100 bg-white jsNav">
  <div class="relative tc db">
    <a class="link dim jsLink" href="index.html" title="Home">
      <img class="mw4" src="../assets/images/logo-kaskus-radio.svg" />
    </a>
    <a class="absolute top-0 left-0">
      <i class="far fa-long-arrow-left"></i>
    </a>    
    <!-- <a class="absolute top-0 left-0">
      <i class="fa fa-bars"></i>
    </a>
    <div class="absolute top-0 right-0">
      <a class="link mr2">
        <i class="fa fa-search"></i>
      </a>
      <a>
        <i class="fa fa-sign-in"></i>
      </a>
    </div> -->
  </div>
</nav>
