<div class="c-player shadow-3 fixed w-100 bottom-0 bg-white is-hide jsPlayer">
  <div class="c-player__control">
    <div class="c-player__content pa2">
      <div class="pr5 relative">
        <a class="link black cf db" href="#">
          <div class="fl mr2">
            <img width="40" height="40" class="" src="../assets/images/image-kaskusnyobain.png">
          </div>
          <div class="f5 mt1 truncate vagRoundedBold">KASKUS Nyobain</div>
          <div class="f6 truncate">Episode 3: Nyobain Bubur Ayam Sumsum Sukabumi</div>
        </a>
        <button class="black absolute c-player__button jsPlayButton top-0 right-0">
          <i class="far fa-play-circle"></i>
        </button>
      </div>

    </div>
    <div class="c-player__indicator"></div>
  </div>
</div>
