<section class="popup fixed">
  <div class="db center w100 tc black relative c-hero">
    <div class="w100 c-hero__cover">
      <div class="aspect-ratio--object cover c-hero__cover__image" style="background:url(../assets/images/image-cover-kaskusnyobain.png) center;"></div>
    </div>
    <button class="f-headline white absolute c-hero__button jsPlayButton">
      <i class="far fa-play-circle"></i>
    </button>
    <div class="c-progress white absolute is-hide jsProgress">
      <div class="c-progress__content w-100 h-100 ph4">
        <div class="c-progress__time__wrapper">
          <span class="f6 c-progress__time c-progress__time--current jsProgressTime">0:00</span>
          <span class="f6 c-progress__time c-progress__time--duration">6:20</span>
        </div>
        <div class="c-progress__scale">
          <div class="c-progress__scale__bar jsProgressBar" style="width: 0%;"></div>
        </div>
        <div class="c-progress__button__wrapper">
          <button class="absolute c-progress__button c-progress__button--skipprevious jsSkipPreviousButton"></button>
          <button class="absolute c-progress__button c-progress__button--skipforward jsSkipForwardButton"></button>
        </div>
      </div>
    </div>
    <div class="db pa2 c-hero__detail w-100">
      <img class="mw3" alt="Mata Najwa" src="../assets/images/image-kaskusnyobain.png" >
      <dl class="mv1 lh-copy">
        <dt class="clip">Title</dt>
        <dd class="ml0 f4 white">KASKUS Nyobain</dd>
        <dt class="clip">Episode</dt>
        <dd class="ml0 vagRoundedBold f3 white">Episode 12: Anti Matgay di MARKAS Meski Tanpa Cash</dd>
      </dl>
      <div class="cf pa2 white">
        <div class="fl w-50">
          <div class="tc">
            <span><i class="far fa-calendar-alt"></i> 18 May 2018</span>
          </div>
        </div>
        <div class="fl w-50">
          <div class="tc">
            <span><i class="far fa-clock"></i> 6 menit</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="ml0 black pa3">Mangga Alpukat lagi banyak diomongin netizen nih. Emang apa spesialnya? Yang udah pernah coba absen di bawah! <br><br>Siapa yang belum move on dari MARKAS 2018? Kemarin Irind lupa bawa dompet, tapi tetap bisa seru-seruan loh soalnya udah install Sakuku di smatrphone-nya. Agan ada yang main ke MARKAS juga kemaren? Share pengalaman kalian di sini. <br><br>Mobil balap, makanan nggak enak, & semua yang lagi HITZ akan dicobain sama Sist Irind di KASKUS Nyobain! Episode baru muncul setiap Jumat!</div>
</section>
