<div class="">
  <div class="o-overlay o-overlay--toolbar"></div>
  <div class="fixed h-100 w-80">
    <div>
      <div><img src="profpic"></div>
      <div>
        <div>blackmamba</div>
        <div>kaskus addict</div>
      </div>
    </div>
    <div>
      <div>
        <i class="fa fa-list-alt"></i>
        <span>Program Saya</span>
      </div>
    </div>
    <div>
      <div>
        <i class="fa fa-upload"></i>
        <span>Upload Audio</span>
      </div>
    </div>
    <div>
      <div>
        <i class="fa fa-sign-out"></i>
        <span>Keluar</span>
      </div>
    </div>
  </div>
</div>
