<header class="Pos(r) Miw(1024px) Z(20) Start(0) D(b) Bdc(#e7e7e7)">
	<div class="Mih(50px) Bgc(#fff) W(100%) Miw(1200px) P(f) T(0) Z(8) Trsp(top) Trstf(ease-in-out) Trsde(initial) Trsdu(0.2s)">
		<div class="P(r)">
			<div class="P(r) Z(10) Fl(start) Fz(14px) P(0 0 0 25px) T(7px) H(48px) C(#fff) Fw(500) Lh(40px) Cur(p) Op(0.8)" style="display: none;">
				Kategori
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
		<div class="Trsp(background-color) Trsdu(0.4s) Trstf(ease-in-out)">
			<div class="W(1170px) Pos(r) Maw(n) Mx(a) Px(15px)">
				<div class="Mend(-15px)">
					<div class="Fl(start)">
						<a class="Bgi(kaskus-logo) Bgz(ct) Bgp(c) Bgr(nr) Mt(15px) Mend(30px) D(b) W(149px) H(19px) Ti(-9999px)" href="#">kaskus.co.id</a>
					</div>
					<div class="">
						<ul class="Fl(start) M(0) Pstart(0) List(n)">
							<li class="Fl(start) Pos(r) D(b)">
								<a href="#" class="C(#777) C(#1998ed):h C(#1998ed):f Py(0) Px(5px) Pos(r) D(b) Fz(14px) Fw(500) Lh(51px) Td(n):h">Forum</a>
							</li>
							<li class="Fl(start) Pos(r) D(b)">
								<a href="#" class="C(#777) C(#1da89f):h C(#1da89f):f Py(0) Px(5px) Pos(r) D(b) Fz(14px) Fw(500) Lh(51px) Td(n):h">Jual Beli</a>
							</li>
							<li class="Fl(start) Pos(r) D(b)">
								<a href="#" class="C(#777) Py(0) Px(7px) Pos(r) D(b) Fz(14px) Fw(500) Lh(51px) Td(n):h">
									<img src="https://s.kaskus.id/images/premium_tab/premium_tab_fbycuv68ft7h.png" class="Mah(40px) Maw(90px) Va(m)" alt="premium tab" />
								</a>
							</li>
						</ul>
					</div>
					<div class="Pos(r) W(350px) D(ib)">
						<form class="W(a) Bdc(#e7e7e7) D(ib) Mb(0) Py(0) Px(15px)">
							<div class="Bgc(#fff) Bdrs(4px) Bdw(1px) Bdc(#d7d7d7) Bds(solid)">
								
							</div>
						</form>
					</div>
					<div class="Fl(end)"></div>
				</div>
			</div>
		</div>
	</div>
</header>